extends ../../layout-list

block list
    if items.length
      table.small.table.table--lines.table--striped
        thead
          tr
            th &nbsp;
            th.b TIENDA
            th.b NUMERO
            th.b ESTADO
            th.b FORMA DE ENTREGA
            th.b FORMA DE PAGO
            th.b PEDIDO
            th.b ENTREGA
            th.b PRODUCTOS
            th.b TOTAL
        tbody
          each item of items
            tr
              td.tc
                a(href=`/administracion/super/tiendas/pedidos/${item.orderID}` title='Ver')
                  i.fas.fa-search
              td.tc
                +img(`Logo de la tienda ${item.store.name}`, item.store.imageSizes, ['48x48_jpg', '96x96_jpg'], 'h-48p')
              td.tc
                a(href=`/administracion/super/tiendas/pedidos/${item.orderID}` title='Ver')
                  | #{item.orderID}
              td.tc.subtitle
                | !{badge(item.status)}
              td
                | #{item.delivery.name}
              td
                | #{item.payment.name}
              td
                | #{statusToDate(item.statuses, 'created')}
              td
                | #{statusToDate(item.statuses, 'completed')}
              td.tr
                | #{item.products.length}
              td.tr.b.t-secondary
                | #{formatMoney(item.order.total)}
        tfoot
          tr
            th(colspan="10")
              .pagination.justify-content-right
                a.item(href=`?page=0`)
                  i.fas.fa-chevron-left
                  - var n = 0;
                  while n < Math.ceil(count/limit)
                    a.item(href=`?page=${n++}`)= n
                a.item(href=`?page=${Math.ceil(count/limit) - (count % limit == 0 ? 0 : 1)}`)
                  i.fas.fa-chevron-right

    else
      .white.br-1.rd-0-2.p-3
        .remark.info.flex.mb-0-5
          i.fas.fa-info-circle.h4.mr-1.t-info
          | No hay pedidos