footer.mt-8
  .container-fluid.primary
    .container.ph-1
      .row
        .col-md-4.tc.vertical-align-center.mb-3-xs.mb-3-sm.mb-3-md
          img.h-96p(src=`${appCnf.url.static}tenancy/${appCnf.tenancy}/images/logo-name.svg` alt=`${appCnf.site.name} logo nombre`)
          .small.pt-1 TIENDAS EN PESOS COLOMBIANOS
        .col-md-8.vertical-align-center
          ul
            li.p-0-5
              a(href='/usuario/vendedor') ¿Interesado en vender sus productos?
            li.p-0-5
              a(href='/doc/politica-de-privacidad-y-tratamiento-de-datos') Política de Privacidad y Tratamiento de Datos
            li.p-0-5
              a(href='/doc/terminos-y-condiciones-cliente') Términos y Condiciones Cliente
            li.p-0-5
              a(href='/doc/terminos-y-condiciones-vendedor') Términos y Condiciones Vendedor
            li.p-0-5
              | Comentarios y dudas:
              | #{' '} 
              a.b(href=`mailto:${appCnf.email.emailInfo}`) #{appCnf.email.emailInfo}
  .container-fluid.primary-500
    .container.tc.ph-3
      .row
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          img.h-2(src=appCnf.url.static+'images/logo-p4s.svg' alt='p4s logo')
          .small 
            span.b Véndelo Mejor
            | #{' '}
            | es una idea apoyada por el portal de emprendimiento
            | #{' '}
            a(href='https://p4s.co') p4s
          img.h-2.mt-1(src=appCnf.url.static+'images/logo-name.svg' alt='Véndelo Mejor logo blanco')
          .small TODOS LOS DERECHOS RESERVADOS
          .small powered by:
            | #{' '} 
            a(href='https://vendelomejor.com/') Véndelo Mejor
        .col-md-4.mb-3-xs.mb-3-sm.mb-3-md
          img.h-2(src=appCnf.url.static+'images/wompi.png' alt='wompi')
          .small COMPRA 100% SEGURA
        .col-md-4
          .small #{appCnf.site.name} es creado y es mantenido por:
          br
          .b Véndelo Mejor
          .hr.mh-0-25
          .title
            a(href="https://www.facebook.com/tiendap4s" target='_blank')
              i.fab.fa-facebook-square
              span.out-screen Página de facebook