nav
  .expandable
    .expandable__header
      .expandable__title Cuenta
    ul.expandable__body.navigation
      li.navigation__item(class=menu=='informacion-personal'?'navigation--active':'')
        a.item(href='/administracion/informacion-personal') Información Personal
      li.navigation__item(class=menu=='contrasena'?'navigation--active':'')
        a.item(href='/administracion/contrasena') Contraseña
      li.navigation__item(class=menu=='correo'?'navigation--active':'')
        a.item(href='/administracion/correo') Correo
      li.navigation__item(class=menu=='cuenta-bancaria'?'navigation--active':'')
        a.item(href='/administracion/cuenta-bancaria') Cuenta bancaria
  .hr.mh-1

  .expandable
    .expandable__header
      .expandable__title Tienda
    ul.expandable__body.navigation
      li.navigation__item(class=menu=='tiendas'?'navigation--active':'')
        a.item(href=`/administracion/tiendas`) Lista
      if _.get(req,'user.options.storeSelect')
        li.navigation__item(class=menu=='tienda'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}`) Configuración
        li.navigation__item(class=menu=='tienda-imagenes'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/imagenes`) Imágenes
        if _.get(req, 'site.modules.socialMedia')
          li.navigation__item(class=menu=='tienda-redes-sociales'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/redes-sociales`) Redes Sociales
        if _.get(req, 'site.modules.coverageAreas')
          li.navigation__item(class=menu=='tienda-zonas-de-coberturas'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/zonas-de-coberturas`) Zonas de Coberturas
        if _.get(req, 'site.modules.deliveries')
          li.navigation__item(class=menu=='tienda-opciones-de-entrega'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/opciones-de-entrega`) Opciones de entrega
        if _.get(req, 'site.modules.payments')
          li.navigation__item(class=menu=='tienda-opciones-de-pago'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/opciones-de-pago`) Opciones de pago

  if _.get(req.user, 'options.storeSelect')
    if _.get(req, 'site.modules.places')
      .expandable
        .expandable__header
          .expandable__title Sedes
        ul.expandable__body.navigation
          li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/sedes`) Lista
          li.navigation__item(class=menu=='tienda-mapa'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/mapa`) Mapa

    if _.get(req, 'site.modules.categories')
      .expandable
        .expandable__header
          .expandable__title Categorías
        ul.expandable__body.navigation
          li.navigation__item(class=menu=='tienda-categorias-nuevo'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/categorias/nuevo`) Nueva
          li.navigation__item(class=menu=='tienda-categorias'?'navigation--active':'')
            a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/categorias`) Lista

    .expandable
      .expandable__header
        .expandable__title Productos
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='tienda-productos-nuevo'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/productos/nuevo`) Nuevo
        li.navigation__item(class=menu=='tienda-productos'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/productos`) Lista

    .expandable
      .expandable__header
        .expandable__title Pedidos
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='pedidos-lista'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/pedidos`) Lista
        //- li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
        //-   a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/reclamos`) Reclamos
        //- li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
        //-   a.item(href=`/administracion/tiendas/${req.user.options.storeSelect}/desembolsos`) Desembolsos
