nav
  .expandable
    .expandable__header
      .expandable__icon
        i.fas.fa-angle-down.fa-fw
      .expandable__title Cuenta
    ul.expandable__body.navigation
      li.navigation__item(class=menu=='informacion-personal'?'navigation--active':'')
        a.item(href='/administracion/informacion-personal') Información Personal
      li.navigation__item(class=menu=='contrasena'?'navigation--active':'')
        a.item(href='/administracion/contrasena') Contraseña
      li.navigation__item(class=menu=='correo'?'navigation--active':'')
        a.item(href='/administracion/correo') Correo
      li.navigation__item(class=menu=='cuenta-bancaria'?'navigation--active':'')
        a.item(href='/administracion/cuenta-bancaria') Cuenta bancaria
  .hr.mh-1
  if session && session.admin
    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title Administración
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='super-tiendas'?'navigation--active':'')
          a.item(href=`/administracion/super/tiendas`) Aprobar Tiendas
        li.navigation__item(class=menu=='super-usuarios-lista'?'navigation--active':'')
          a.item(href=`/administracion/super/usuarios`) Usuarios
        li.navigation__item(class=menu=='super-pedidos-lista'?'navigation--active':'')
          a.item(href=`/administracion/super/tiendas/pedidos`) Pedidos
    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title #{_.get(appCnf, 'site.name')}
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='super-site-config'?'navigation--active':'')
          a.item(href=`/administracion/super/configuracion`) Configuración
        li.navigation__item(class=menu=='super-planes'?'navigation--active':'')
          a.item(href=`/administracion/super/planes`) Planes
        li.navigation__item(class=menu=='super-multimedia'?'navigation--active':'')
          a.item(href=`/administracion/super/multimedia`) Multimedia
        li.navigation__item(class=menu=='super-paginas'?'navigation--active':'')
          a.item(href=`/administracion/super/paginas`) Páginas
        li.navigation__item(class=menu=='super-documentos'?'navigation--active':'')
          a.item(href=`/administracion/super/documentos`) Documentos
        li.navigation__item(class=menu=='super-faq-categorias'?'navigation--active':'')
          a.item(href=`/administracion/super/faq-categorias`) FAQ Categorías
        li.navigation__item(class=menu=='super-faq'?'navigation--active':'')
          a.item(href=`/administracion/super/faq`) FAQ Preguntas
    if appCnf.tenancy=='vendelomejor' || process.env.NODE_ENV !== 'production'
      .expandable
        .expandable__header
          .expandable__icon
            i.fas.fa-angle-down.fa-fw
          .expandable__title General
        ul.expandable__body.navigation
          li.navigation__item(class=menu=='super-ayuda-categorias'?'navigation--active':'')
            a.item(href=`/administracion/super/ayuda-categorias`) Ayuda Categorías
          li.navigation__item(class=menu=='super-ayuda'?'navigation--active':'')
            a.item(href=`/administracion/super/ayuda`) Ayuda Preguntas
    .hr.mh-1

  .expandable
    .expandable__header
      .expandable__icon
        i.fas.fa-angle-down.fa-fw
      .expandable__title Tienda
    ul.expandable__body.navigation
      li.navigation__item(class=menu=='tienda-nueva'?'navigation--active':'')
        a.item(href=`/administracion/tiendas/nuevo`) Nueva
      li.navigation__item(class=menu=='tiendas'?'navigation--active':'')
        a.item(href=`/administracion/tiendas`) Lista
      if _.get(user, 'options.storeSelect')
        li.navigation__item(class=menu=='tienda'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}`) Configuración
        li.navigation__item(class=menu=='tienda-imagenes'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/imagenes`) Imágenes
        li.navigation__item(class=menu=='tienda-redes-sociales'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/redes-sociales`) Redes Sociales
        li.navigation__item(class=menu=='tienda-zonas-de-coberturas'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/zonas-de-coberturas`) Zonas de Coberturas
        li.navigation__item(class=menu=='tienda-opciones-de-entrega'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/opciones-de-entrega`) Opciones de entrega
        li.navigation__item(class=menu=='tienda-opciones-de-pago'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/opciones-de-pago`) Opciones de pago

  if _.get(session, 'options.storeSelect')
    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title Sedes
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/sedes`) Lista
        li.navigation__item(class=menu=='tienda-mapa'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/mapa`) Mapa

    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title Categorías
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='tienda-categorias-nuevo'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/categorias/nuevo`) Nueva
        li.navigation__item(class=menu=='tienda-categorias'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/categorias`) Lista

    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title Productos
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='tienda-productos-nuevo'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/productos/nuevo`) Nuevo
        li.navigation__item(class=menu=='tienda-productos'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/${session.options.storeSelect}/productos`) Lista

    .expandable
      .expandable__header
        .expandable__icon
          i.fas.fa-angle-down.fa-fw
        .expandable__title Pedidos
      ul.expandable__body.navigation
        li.navigation__item(class=menu=='pedidos-lista'?'navigation--active':'')
          a.item(href=`/administracion/tiendas/pedidos`) Lista
        //- li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
        //-   a.item(href=`/administracion/tiendas/${session.options.storeSelect}/reclamos`) Reclamos
        //- li.navigation__item(class=menu=='tienda-sedes'?'navigation--active':'')
        //-   a.item(href=`/administracion/tiendas/${session.options.storeSelect}/desembolsos`) Desembolsos
