
meta(name='robots' content='index, follow')
meta(name='author' content='Véndelo Mejor')
meta(name='description' content=description || _.get(req, 'site.description'))
meta(name='keywords' content='compra online, mercado, tienda, domicilios, p4s, quedate en casa')
meta(name='language' content='ES')

link(href=_.get(req, 'site.images.social.img') rel='image_src')
link(href=`${_.get(req, 'site.url')}${originalUrl}` rel='canonical')

meta(name='geo.placename' content='Colombia')
meta(name='geo.position' content='4.667311,-74.0587037')
meta(name='geo.region' content='CO')
meta(name='ICBM' content='4.667311,-74.0587037')

meta(name='twitter:card' content='summary')
if _.find(_.get(req, 'site.contacts'), {slug: 'twtter'})
    meta(name='twitter:site' content=_.find(_.get(req, 'site.contacts'), {slug: 'twtter'}).value)
    meta(name='twitter:creator' content=_.find(_.get(req, 'site.contacts'), {slug: 'twtter'}).value)
meta(name='twitter:title' content=`${title} | ${_.get(req, 'site.name')}`)
meta(name='twitter:description' content=description || _.get(req, 'site.description'))
meta(name='twitter:image' content=_.get(req, 'site.images.social.img'))

meta(property='og:type' content='website')
meta(property='og:title' content=`${title} | ${_.get(req, 'site.name')}`)
meta(property='og:description' content=description || _.get(req, 'site.description'))
meta(property='og:url' content=`${_.get(req, 'site.images.social.img')}${originalUrl}`)
meta(property='og:image' content=_.get(req, 'site.images.social.img'))
meta(property='og:site_name' content=`${title} | ${_.get(req, 'site.name')}`)
meta(property='og:locale' content='es_CO')
meta(property='og:locale:alternate' content='es_CO')
