
link(rel='stylesheet', href=appCnf.url.cdn+'css/fonts.min.css?='+appCnf.v)

script(src=appCnf.url.cdn+'lib/script.js?='+appCnf.v)

if mapbox
  //- MapBox
  link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')

  if mapbox=='geocoder'
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css')
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js')

  if mapbox=='draw'
    link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css", type="text/css")
    script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js")

if osm
  link(rel="stylesheet", href=appCnf.url.cdn+'lib/leaflet/leaflet.css')
  script(src=appCnf.url.cdn+'lib/leaflet/leaflet.js')
  link(rel='stylesheet', href=appCnf.url.cdn+'lib/leaflet/L.Control.Locate.min.css')
  script(src=appCnf.url.cdn+'lib/leaflet/L.Control.Locate.min.js')
  if osm=='draw'
    link(rel='stylesheet', href=appCnf.url.cdn+'lib/leaflet/leaflet-geoman.css')
    script(src=appCnf.url.cdn+'lib/leaflet/leaflet-geoman.min.js')

if wompi
  //- Pagos
  script(src='https://checkout.wompi.co/widget.js')

if cke
  script(src=appCnf.url.cdn+'lib/ckeditor/ckeditor.js')

if js
  script(src=appCnf.url.cdn+'js/'+js+'.js?='+appCnf.v)