
link(rel='stylesheet', href=config.url.static+'css/fonts.min.css?='+config.v)

script(src=config.url.static+'lib/script.js?='+config.v)

if mapbox
  //- MapBox
  link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')

  if mapbox=='geocoder'
    link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css')
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js')

  if mapbox=='draw'
    link(rel="stylesheet", href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css", type="text/css")
    script(src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js")

if osm
  link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css", integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==", crossorigin)
  script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js", integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==", crossorigin)
  link(rel='stylesheet', href=config.url.static+'css/L.Control.Locate.min.css')
  script(src=config.url.static+'lib/L.Control.Locate.min.js')

if wompi
  //- Pagos
  script(src='https://checkout.wompi.co/widget.js')

if cke
  script(src=config.url.static+'lib/ckeditor/ckeditor.js')

if js
  script(src=config.url.static+'js/'+js+'.js?='+config.v)
