extends /modules/admin/views/super/layout-list

block list
  .msg.info.mb-0-5
    .flex
      i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
      ul
        li Seleccione una Tienda para editar.

  form.validate.mh-2(action=``)
    .row
      .col-md-8
        label.out-screen(for='query-d') Buscar
        input#query-d.input--simple.w-100.h-100.ph-0-25.pw-1(type="text" name="q" placeholder='Buscar' value=q)
      .col-md-4
        button.btn.btn--secondary.w-100
          i.fas.fa-search
          | #{' '}
          | Buscar

  if items.length
    .remark
      b P
      | #{' '} = Publicado,
      | #{' '}
      b A
      | #{' '} = Aprobada,
      | #{' '}
      b C
      | #{' '} = Confiable
      | #{' '}

    .oa
      table.small.table.table--lines.table--striped
        thead
          tr
            th &nbsp;
            th &nbsp;
            th &nbsp;
            th &nbsp;
            th.b Logo
            th.b.tc P
            th.b.tc A
            th.b.tc C
            th.b Nombre
            th.b URL
            th.b Usuario
        tbody
          each item of items
            tr
              td.tc
                if (_.map(item.problems, key=>key.alert)).indexOf(true) >= 0
                  .t-alert.open-modal-msg.hand.mh-0-5(
                    title='Eliminar'
                    data-title=`Alertas de ${item.name}`
                    data-close='Cerrar'
                    data-body=`#amsg_${item._id}`
                  )
                    i.fas.fa-exclamation-triangle
                  div.hide(id=`amsg_${item._id}`)
                    .flex
                      .t-alert.open-modal-msg.bigx2
                        i.fas.fa-exclamation-triangle
                      .ml-1
                        if item.problems.seo.alert
                          p El texto en Descripción debe tener entre 150 y 180 caracteres
                            | #{' '}
                            a.small.btn.btn--alert(href=`/administracion/tiendas/${item._id}/editar`) arreglar
                        if item.problems.deliveries.alert
                          p El precio del servicio de entrega es mayor a $15.000, si es necesario puede dejarlo sin modificar
                            | #{' '}
                            a.small.btn.btn--alert(href=`/administracion/tiendas/${item._id}/opciones-de-entrega/editar`) arreglar
                        if item.problems.productsImage.alert
                          p Hay "Productos" sin "imágenes"
                            | #{' '}
                            a.small.btn.btn--alert(href=`/administracion/tiendas/${item._id}/productos`) arreglar
                        if item.problems.productsDelivery.alert
                          p Hay "Productos" con problemas
                            | #{' '}
                            a.small.btn.btn--alert(href=`/administracion/tiendas/${item._id}/productos`) arreglar

                if (_.map(item.problems, key=>key.problem)).indexOf(true) >= 0
                  .t-error.open-modal-msg.hand.mh-0-5(
                    title='Eliminar'
                    data-title=`Errores de ${item.name}`
                    data-close='Cerrar'
                    data-body=`#emsg_${item._id}`
                  )
                    i.fas.fa-minus-circle
                  div.hide(id=`emsg_${item._id}`)
                    .flex
                      .t-error.open-modal-msg.bigx2
                        i.fas.fa-minus-circle
                      .ml-1
                        if item.problems.imageLogo.problem
                          p La tienda no tiene un logo
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/imagenes/editar`) arreglar
                        if item.problems.coveragesAreas.problem
                          p Debe configurar una zona de cobertura
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/zonas-de-coberturas/nuevo`) arreglar
                        if item.problems.localDelivery.problem
                          p Para tienda en modo vitrina debe seleccionar "Transporte Local" en "Opciones de Entrega"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/opciones-de-entrega/editar`) arreglar
                        if item.problems.deliveries.problem
                          p Debe seleccionar y configurar una "Opcion de Entrega"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/opciones-de-entrega/editar`) arreglar
                        if item.problems.localPayment.problem
                          p Para tienda en modo vitrina debe seleccionar "Contra-entrega" en "Opciones de Pago"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/opciones-de-pago/editar`) arreglar
                        if item.problems.payments.problem
                          p Debe seleccionar y configurar una "Opcion de Pago"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/opciones-de-pago/editar`) arreglar
                        if item.problems.categories.problem
                          p Debe crear "Categorías" para los "Productos"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/categorias/nuevo`) arreglar
                        if item.problems.products.problem
                          p Debe crear y configurar al menos un "Producto"
                            | #{' '}
                            a.small.btn.btn--error(href=`/administracion/tiendas/${item._id}/productos/nuevo`) arreglar
              td.tc
                a(href=`/administracion/super/tiendas/${item._id}` title='Ver')
                  i.fas.fa-search
              td.tc
                button.btn-flat.p-0-5.open-modal-action(
                    title='Eliminar'
                    data-title='¿Desea eliminar la tienda?'
                    data-cancel='Cancelar'
                    data-action='Si, Eliminar'
                    data-method='DELETE'
                    data-confirm='eliminar'
                    data-url=`${appCnf.url.api}admin/stores/${item._id}`
                    data-page='/administracion/super/tiendas'
                  )
                  i.fas.fa-trash-alt
              td.tc
                a.btn.btn--secondary.small(href=`/administracion/tiendas/${item._id}/seleccionar` title='Seleccionar')
                  | Seleccionar
              td.tc
                if _.get(item, 'imageSizes.logo.48x48_jpg')
                  img.m-0-25(src=_.get(item, 'imageSizes.logo.48x48_jpg'))
              td.tc
                +boolean(item.publish)
              td.tc
                +boolean(item.approve)
              td.tc
                +boolean(item.trust)
              td
                a.b(href=`/administracion/super/tiendas/${item._id}`) #{item.name}
                .small #{item.slogan}
              td
                a(href=`${req.urlSite}${item.slug}` target='_blank') #{`${req.urlSite}${item.slug}`}
                div.b #{item.primaryActivity} - #{item.secondaryActivity}
              td
                a.b(href=`/administracion/super/usuarios/${item.userID._id}`) #{item.userID.personalInfo.name}
                div #{item.userID.email}
                a(href=`https://wa.me/${item.userID.personalInfo.allCellphone || item.userID.personalInfo.cellphone}?text=Hola` title='Whatsapp' target='_blank') #{item.userID.personalInfo.allCellphone || item.userID.personalInfo.cellphone}
        tfoot
          tr
            th(colspan="11")
              .pagination.justify-content-right
                a.item(href=`?page=0`)
                  i.fas.fa-chevron-left
                  - var n = 0;
                  while n < Math.ceil(count/limit)
                    a.item(href=`?page=${n++}`)= n
                a.item(href=`?page=${Math.ceil(count/limit) - (count % limit == 0 ? 0 : 1)}`)
                  i.fas.fa-chevron-right
  else
    .white.br-1.rd-0-2.p-3
      .remark.info.flex.mb-0-5
        i.fas.fa-info-circle.h4.mr-1.t-info
        | No hay productos creados.