extends /modules/admin/views/layout-edit-cmp

block edit
  .white.br-1.rd-0-2.pw-2.pt-1.pb-2
    .tabs.tabs--lines.scroll.nowrap.mb-1
      a.item.active(data-tab='#p1') Tipo de producto
      a.item(data-tab='#p2') Datos Principales
      a.item(data-tab='#p3') Imágenes
      a.item(data-tab='#p4') Imágenes
      a.item(data-tab='#p5') Colores

    .tabs-content
      .tab.active#p1

        form.validate(
          id="updateProfileForm"
          action=`${appCnf.url.api}admin/stores/${store._id}/products/${item._id}`
          method="post"
          enctype="multipart/form-data"
          data-error="#form-results")

          .row
            .col-xs-12
              .subtitle Imágenes
              .msg.info.mb-0-5.mt-1
                .flex
                  i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
                  div Las mejores imágenes son con fondo en blanco.
              .form-group
                .form-control
                  input(type='hidden' name='redirect' value=`/administracion/tiendas/${store._id}/productos/${item._id}/editar`)
                  input.input#images(type='file' name='images' placeholder=' ' accept='image/png, image/jpeg' multiple)
                  label(for='images') Imágenes del producto
                .remark.action.flex.mb-0-5
                  .h4.mr-1.t-action
                    i.far.fa-file-image
                  | Suba varias imágenes en formato png o jpg de máximo 10 megas de tamaño.
              .hr.mh-1
              .subtitle.mb-0-5 También puede copiar url de imágenes.
              .form-group
                .form-control
                  textarea.input.h-170p.nowrap#urlFiles(name="urlFiles" placeholder=' ')
                  label(for='urlFiles') Una url de imagen por línea

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Subir Imágenes


  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/stores/${store._id}/products/${item._id}`
    method="put"
    data-page=`/administracion/tiendas/${store._id}/productos`
    data-error="#form-results")

    if item.imagesSizes.length
      .white.br-1.rd-0-2.p-3.mt-2
        .subtitle Eliminar Imágenes
        .row
          .col-xs-12
            table.small.table.table--lines.table--striped
              thead
                tr
                  th.b Eliminar?
                  th.b Imagen
              tbody
                each image,i in item.imagesSizes
                  tr
                    td
                      label.nowrap
                        input.checkbox(type="checkbox" name=`imagesDeleted[${i}]` value=item.images[i])
                        span Eliminar
                    td.w-100
                      img(src=image['96x96_jpg'])

    .white.br-1.rd-0-2.p-3.mt-2
      .msg.error#form-results
      .row
        .col-xs-12
          .form-group
            .form-control
              label.switch
                input#publish(type="hidden" name="publish" value=item.publish?'1':'0')
                span.check
                span.caption Publicado
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required value=item.name)
              label(for='name') Nombre
          .form-group
            .form-control
              label.switch
                input#inventory(type="hidden" name="inventory" value=item.inventory?'1':'0')
                span.check
                span.caption Usa Inventario (Stock)
          .form-group
            .form-control
              input.input#stock(type="number" name="stock" placeholder=' ' value=item.stock)
              label(for='stock') Inventario (Stock, Existencias)
          .form-group
            .form-control
              input.input#price(type="number" name="price" placeholder=' ' required value=item.price)
              label(for='price') Precio
          .form-group
            .form-control
              input.input#sku(type="text" name="sku" placeholder=' ' required value=item.sku)
              label(for='sku') SKU
          .form-group
            .form-control
              input.input#ean(type="text" name="ean" placeholder=' ' value=item.ean)
              label(for='ean') UPC, EAN
          .form-group
            .form-control
              input.input#brandText(type="text" name="brandText" placeholder=' ' value=item.brandText)
              label(for='brandText') Marca
          .form-group
            .form-control
              select#categoryID.input(name='categoryID')
                option(value="") --
                each category of items
                  option(value=category._id selected=_.last(item.categoryIDs) && _.last(item.categoryIDs).toString()==category._id.toString()) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              textarea.input#shortDescription(name="shortDescription" placeholder=' ' data-count="160" data-target="#count-short-description") #{item.shortDescription}
              label(for='shortDescription') Descripción corta
            .small No más de 160 caracteres. Lleva #{' '}
              spam#count-short-description
              | #{' '}caracteres
          .form-group.ph-1
            .subtitle.mb-0-5 Descripción larga
            .form-control
              textarea.cke-user#longDescription(name="longDescription" placeholder=' ') #{item.longDescription}

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Disponible
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Este campo indica la fechas en las que estará disponible un producto para la venta, no es necesario escribir las dos fechas.
          .form-group.flex
            .form-control
              input.input#available-0(type="date" name="available[start]" placeholder='dd/mm/aaaa' value=item.available.start?moment(item.available.start).format('YYYY-MM-DD'):null)
              label.nowrap(for='available-0') Desde
            .form-control.pl-1
              input.input#available-1(type="date" name="available[end]" placeholder='dd/mm/aaaa' value=item.available.end?moment(item.available.end).format('YYYY-MM-DD'):null)
              label(for='available-1') Hasta

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Digital
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Los productos digitales pueden ser licencias, conciertos, obras, clases particulares y cualquier producto que no necesite envío físico.
          .form-group
            .form-control
              label.switch
                input#digital-is(type="hidden" name="digital[is]" value=item.digital.is?'1':'0')
                span.check
                span.caption Es un producto digital
          .form-group.ph-1
            .subtitle.mb-0-5 Mensaje para los clientes cuando compren
            .form-control
              textarea.cke-user#digital-msg(name="digital[msg]" placeholder=' ') #{item.digital.msg}
            span Puede incluir url, correo, teléfono o cualquier otro recurso.

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Características
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Escriba características del producto, tales como: peso, altura, color, etc.
          button.btn.btn--secondary.add(type="button") Agregar carácteristica
          .hr.mh-1
          .list-features(data-btn=".add" data-features=JSON.stringify(item.features))

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Medidas del producto, empacado
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div
                | Estas son las medidas del producto empacado, no son las mismas del producto afuera de su caja, son usadas para calcular el valor del transporte mediante mensajería.
          .form-group
            .form-control
              input.input#weight(type="number" name="weight" placeholder=' ' min=0 value=item.weight)
              label(for='weight') Peso (en gramos)
          .form-group
            .form-control
              input.input#length(type="number" name="length" placeholder=' ' min=0 value=item.length)
              label(for='length') Largo (en centímetros)
          .form-group
            .form-control
              input.input#height(type="number" name="height" placeholder=' ' min=0 value=item.height)
              label(for='height') Altura (en centímetros)
          .form-group
            .form-control
              input.input#width(type="number" name="width" placeholder=' ' min=0 value=item.width)
              label(for='width') Ancho (en centímetros)

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Guardar Producto
