extends ../../layout-edit-cmp

block edit
  if store.aws
    form.validate-rest(
      id="updateProfileForm"
      action=`${appCnf.url.api}amz/name`
      method="post"
      data-post='amz'
      data-error="#form-results")
      .white.br-1.rd-0-2.p-3.mb-2
        .msg.error#form-results
        .row
          .col-xs-12
            .big.b
              | TRM:
              | #{' '}
              span.b.t-secondary #{formatMoney(_.get(appCnf.site, 'trm.cop') || 0)}
          .col-xs-12
            .form-group
              .form-control
                textarea.input#url(name="url" placeholder=' ' rows=5)
                label(for='url') URL Amazon de EU

        .row
          .col-xs-12.tr
            button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Traer de Amazon


  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/stores/${store._id}/products`
    method="post"
    data-page=`/administracion/tiendas/${store._id}/productos`
    data-error="#form-results")
    .white.br-1.rd-0-2.p-3
      .msg.error#form-results
      .row
        .col-xs-12
          input.input#amzUrl(type="hidden" name="amzUrl")
          .form-group
            .form-control
              label.switch
                input#publish(type="hidden" name="publish" value='0')
                span.check
                span.caption Publicado
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required)
              label(for='name') Nombre
          .form-group
            .form-control
              input.input#price(type="number" name="price" placeholder=' ' required)
              label(for='price') Precio
          .form-group
            .form-control
              input.input#sku(type="text" name="sku" placeholder=' ' required)
              label(for='sku') SKU
          .form-group
            .form-control
              input.input#brandText(type="text" name="brandText" placeholder=' ')
              label(for='brandText') Marca
          .form-group
            .form-control
              select#categoryID.input(name='categoryID')
                option(value="") --
                each category of items
                  option(value=category._id) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              textarea.input#shortDescription(name="shortDescription" placeholder=' ' data-count="160" data-target="#count-short-description")
              label(for='shortDescription') Descripción corta
            .small No más de 160 caracteres. Lleva #{' '}
              spam#count-short-description
              | #{' '}caracteres

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Crear Producto
