extends ../../layout-edit-cmp

block edit
  form.validate-rest(
    id="updateProfileForm"
    action=`${config.url.api}admin/stores/${store._id}/products`
    method="post"
    data-page=`/administracion/tiendas/${store._id}/productos`
    data-error="#form-results")
    .white.br-1.rd-0-2.p-3
      .msg.error#form-results
      .row
        .col-xs-12
          .form-group
            .form-control
              label
                input.checkbox#publish(type="checkbox" name="publish" value='1')
                span Publicado
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required)
              label(for='name') Nombre
          .form-group
            .form-control
              input.input#price(type="number" name="price" placeholder=' ' required)
              label(for='price') Precio
          .form-group
            .form-control
              input.input#sku(type="text" name="sku" placeholder=' ' required)
              label(for='sku') SKU
          .form-group
            .form-control
              input.input#ean(type="text" name="ean" placeholder=' ')
              label(for='ean') UPC, EAN
          .form-group
            .form-control
              input.input#brandText(type="text" name="brandText" placeholder=' ')
              label(for='brandText') Marca
          .form-group
            .form-control
              select#categoryID.input(name='categoryID')
                option(value="") --
                each category of items
                  option(value=category._id) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              textarea.input#shortDescription(name="shortDescription" placeholder=' ' data-count="160" data-target="#count-short-description")
              label(for='shortDescription') Descripción corta
            .small No más de 160 caracteres. Lleva #{' '}
              spam#count-short-description
              | #{' '}caracteres
          .form-group.ph-1
            .subtitle.mb-0-5 Descripción larga
            .form-control
              textarea.cke#longDescription(name="longDescription" placeholder=' ')

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Disponible
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Este campo indica la fechas en las que estará disponible un producto para la venta, no es necesario escribir las dos fechas.
          .form-group.flex
            .form-control
              input.input#available-0(type="date" name="available[start]" placeholder='dd/mm/aaaa')
              label.nowrap(for='available-0') Desde
            .form-control.pl-1
              input.input#available-1(type="date" name="available[end]" placeholder='dd/mm/aaaa')
              label(for='available-1') Hasta

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Digital
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Los productos digitales pueden ser licencias, conciertos, obras, clases particulares y cualquier producto que no necesite envío físico.
          .form-group
            .form-control
              label
                input.checkbox#digital-is(type="checkbox" name="digital[is]" value=true)
                span Es un producto digital
          .form-group.ph-1
            .subtitle.mb-0-5 Mensaje para los clientes cuando compren
            .form-control
              textarea.cke#digital-msg(name="digital[msg]" placeholder=' ')
            span Puede incluir url, correo, teléfono o cualquier otro recurso.

    .white.br-1.rd-0-2.p-3.mt-2
      .row
        .col-xs-12
          .subtitle Características
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Escriba características del producto, tales como: peso, altura, color, etc.
          button.btn.btn--secondary.add(type="button") Agregar carácteristica
          .hr.mh-1
          .list-features(data-btn=".add" data-features="[]")

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Crear Producto
