extends ../../layout-edit-cmp

block edit
  if store.amz
    form.validate-rest(
      id="updateProfileForm"
      action=`${appCnf.url.api}amz/name`
      method="post"
      data-post='amz'
      data-error="#form-results1")
      .white.br-1.rd-0-2.p-3.mb-2
        .msg.error#form-results1
        .row
          .col-xs-12
            .form-group
              .form-control
                textarea.input#url(name="url" placeholder=' ' rows=7)
                label(for='url') URL Amazon de EEUU

        .row
          .col-xs-12.tr
            button.btn.btn--primary.w-100-xs.mt-1-xs(type="submit") Traer de Amazon



  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/stores/${store._id}/products`
    method="post"
    enctype="multipart/form-data"
    data-page=`/administracion/tiendas/${store._id}/productos`
    data-gotoid="editar"
    data-error="#form-results2")

    if store.amz
      .white.br-1.rd-0-2.p-3
        .row
          .col-xs-12
            input.input#amzUrl(type="hidden" name="amz.url")

            input.input#inventory(type="hidden" name="inventory" value="0")
            input.input#stock(type="hidden" name="stock")

        .row
          .col-xs-12
            .form-group.flex
              .form-control
                input.input.tr.b.t-secondary#amzTrm(type="number" name="amz.trm" placeholder=' ' value=_.get(req.site, 'trm.cop') || 0 step=".01")
                label(for='amzTrm') TRM
              .form-control.pl-1
                input.input.tr#amzUsd(type="number" name="amz.usd" placeholder=' ' value=0 step=".01")
                label(for='amzUsd') USD
            .form-group.flex.flex-wrap
              .form-control
                input.input.tr#amzIncPrice(type="number" name="amz.incPrice" placeholder=' ' value=15)
                label(for='amzIncPrice') Incremento Precio (%)
              .form-control.pl-1
                input.input.tr#amzIncWeight(type="number" name="amz.incWeight" placeholder=' ' value=3.5 step=".01")
                label(for='amzIncWeight') Incremento Peso
              .form-control.pl-1
                input.input.tr#amzIncDimensions(type="number" name="amz.incDimensions" placeholder=' ' value=0 step=".01")
                label(for='amzIncDimensions') Incremento Volumen

            .form-group.flex.flex-wrap
              .form-control
                input.input.tr#weight(type="number" name="weight" placeholder=' ' min=0 value=0)
                label(for='weight') Peso (en gramos)
              .b (g)
            .form-group.flex.flex-wrap
              .flex
                .form-control
                  input.input.tr#length(type="number" name="length" placeholder=' ' min=0 value=0)
                  label(for='length') Largo (en centímetros)
                .b (cm) &times;
              .flex
                .form-control.pl-1
                  input.input.tr#height(type="number" name="height" placeholder=' ' min=0 value=0)
                  label(for='height') Altura (en centímetros)
                .b (cm) &times;
              .flex
                .form-control.pl-1
                  input.input.tr#width(type="number" name="width" placeholder=' ' min=0 value=0)
                  label(for='width') Ancho (en centímetros)
                .b (cm)
            .form-group
              .form-control
                textarea.input#urlFiles(name="urlFiles" placeholder=' ' rows=8)
                label(for='urlFiles') URL's de imagenes
          .col-xs-12
            .parts

        .row
          .col-xs-12
            .hr.mh-2


    .white.br-1.rd-0-2.p-3.mb-2
      .msg.error#form-results2
      .row
        .col-xs-12
          .form-group
            .form-control
              label.switch
                input#publish(type="hidden" name="publish" value='0')
                span.check
                span.caption Publicado
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required)
              label(for='name') Nombre
          .form-group
            .form-control
              input.input#price(type="number" name="price" placeholder=' ' required)
              label(for='price') Precio
          .form-group
            .form-control
              input.input#sku(type="text" name="sku" placeholder=' ')
              label(for='sku') SKU (Opcional)

    .white.br-1.rd-0-2.p-3.mb-2
      .row
        .col-xs-12
          .subtitle.b.mt-2 Talla, color, modelo, forma
          .hr.mt-0-5.mb-1
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div Escriba una lista como S,M,L,XL separados por comas ","
          button.btn.btn--secondary.add-pick-list(type="button") Agregar lista
          .hr.mh-1
          .list-pick-list(data-btn=".add-pick-list" data-pick-list=JSON.stringify([]))

    .white.br-1.rd-0-2.p-3.mb-2
      .row
        .col-xs-12
          .form-group
            .form-control
              input.input#brandText(type="text" name="brandText" placeholder=' ')
              label(for='brandText') Marca
          .form-group
            .form-control
              select#categoryID.input(name='categoryID')
                option(value="") --
                each category of items
                  option(value=category._id) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              textarea.input#shortDescription(name="shortDescription" placeholder=' ' data-count="160" data-target="#count-short-description")
              label(for='shortDescription') Descripción corta
            .small No más de 160 caracteres. Lleva #{' '}
              spam#count-short-description
              | #{' '}caracteres
          .form-group.ph-1
            .subtitle.mb-0-5 Descripción larga
            .form-control
              textarea.cke-user#longDescription(name="longDescription" placeholder=' ' rows=10)
          .form-group
            .form-control
              input.input#images(type='file' name='images' placeholder=' ' accept='image/png, image/jpeg' multiple)
              label(for='images') Imágenes del producto
            .remark.action.flex.mb-0-5
              .h4.mr-1.t-action
                i.far.fa-file-image
              | Suba varias imágenes en formato png o jpg de máximo 10 megas de tamaño.

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-1-xs(type="submit") Crear Producto
