extends ../../layout

block content
  include ../../fragments/breadcrumb

  .row
    .col-xs-6
      h1 Cuenta bancaria
    .col-xs-6.tr
      a.btn.btn--secondary(href='/administracion/cuenta-bancaria/editar') Editar

  .row
    .col-md-8
      table.small.table.table--lines
        tbody
          tr
            th.nowrap.ellipsis Titular de la cuenta
            td.w-100 #{_.get(req,'user.bank.name')}
          tr
            th.nowrap.ellipsis Banco
            td.w-100 #{_.get(req,'user.bank.nameBank')}
          tr
            th.nowrap.ellipsis Número cuenta
            td.w-100 #{_.get(req,'user.bank.number')}
          tr
            th.nowrap.ellipsis Tipo
            td.w-100 #{_.get(req,'user.bank.type')}
          tr
            th.nowrap.ellipsis Identificación
            td.w-100 #{_.get(req,'user.bank.idType')}: #{_.get(req,'user.bank.id')}
          tr
            th.nowrap.ellipsis Estado
            td.w-100
              if !_.get(req,'user.bank.file')
                .msg.mb-0-5
                  .flex.justify-content-center
                    i.fas.fa-exclamation.mr-0-25.w-2.tc
                    div Sin documentos
              else if _.get(req,'user.bank.file') && _.get(req,'user.bank.fileCheck')
                .msg.info.mb-0-5
                  .flex.justify-content-center
                    i.fas.fa-exclamation.mr-0-25.w-2.tc
                    div En revisión
              else if _.get(req,'user.bank.file') && _.get(req,'user.check.bank.result')
                .msg.action.mb-0-5
                  .flex.justify-content-center
                    i.fas.fa-check.mr-0-25.w-2.tc
                    div Aprobado
              else if _.get(req,'user.bank.file') && !_.get(req,'user.check.bank.result')
                .msg.error.mb-0-5
                  .flex.justify-content-center
                    i.fas.fa-times.mr-0-25.w-2.tc
                    .b #{_.get(req,'user.bank.rejectMsg')}