extends ../../layout-edit-cmp

block edit
  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/super/plans/${item._id}`
    method="put"
    data-page=`/administracion/super/planes`
    data-error="#form-results")
    .white.br-1.rd-0-2.p-3
      .msg.error#form-results
      .row
        .col-xs-12
          .form-group
            .form-control
              label.switch
                input#publish(type="hidden" name="publish" value=item.publish?'1':'0')
                span.check
                span.caption Publicado
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required value=item.name)
              label(for='name') Nombre
          .form-group
            .form-control
              input.input#slug(type="text" name="slug" placeholder=' ' value=item.slug)
              label(for='slug') Slug
          .form-group.ph-1
            .form-control
              textarea.input#description(name="description" placeholder=' ') #{item.description}
              label(for='features') Descripción
          .msg.info.mb-0-5.mt-1
            .flex
              i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
              div
                div Una característica por línea, use este formato:
                div Usuarios administradores=5
                div Estadísticas=si
          .form-group.ph-1
            .form-control
              textarea.input#features(name="features" placeholder=' ' rows=10) #{item.features}
              label(for='features') Características
          .form-group
            .form-control
              input.input#test(type="number" name="test" placeholder=' ' required min=0 max=12 value=item.test)
              label(for='test') Meses de prueba
          .form-group
            .form-control
              input.input#period(type="number" name="period" placeholder=' ' required min=0 max=12 value=item.period)
              label(for='period') Periodo de facturación en meses
          .form-group
            .form-control
              input.input#price(type="number" name="price" placeholder=' ' required min=0 value=item.price)
              label(for='price') Precio (incluya impuestos)
          .form-group
            .form-control
              input.input#tax(type="number" name="tax" placeholder=' ' required min=0 max=99 value=item.tax)
              label(for='tax') Impuesto en porcentaje
      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Guardar Plan
