extends ../../layout-list

block list
  if items.length
    .remark
      b P
      | #{' '} = Publicado,
      | #{' '}
    table.small.table.table--lines.table--striped
      thead
        tr
          th.b &nbsp;
          th.b.tc P
          th.b Nombre
          th.b Slug
          th.b Prueba
          th.b Facturación
          th.b Valor
      tbody
        each item of items
          tr
            td.tc
              a(href=`/administracion/super/planes/${item._id}` title='Ver')
                i.fas.fa-search
            td.tc
              +boolean(item.publish)
            td
              a.b(href=`/administracion/super/planes/editar/${item._id}`) #{item.name}
            td #{item.slug}
            td
              +mes(item.test)
            td
              +mes(item.period)
            td
              | #{formatMoney(item.price || 0)}

      tfoot
        tr
          th(colspan="7")
            +paginator
  else
    +noItems('No hay páginas creadas.')