extends ../../layout_store

block content

  script(type='application/ld+json').
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": !{JSON.stringify(_.map(categoryIDs, (category, i)=>{return {"@type": "ListItem","position": i+1,"name": category.name,"item": `${appCnf.url.site}categorias/${category.slugLong}`}}))}
    }

  .container
    .row.pb-2
      .col-xs-12
        ul.breadcrumb
          li.breadcrumb__item
            a.item(href='/') Inicio
          li.breadcrumb__item
            a.item(href=`/categorias`) Categorías
          each category,index in categoryIDs
            li.breadcrumb__item
              a.item(href=`/categorias/${category.slugLong}` class=index+1==categoryIDs.length?'breadcrumb--active':'') #{category.name}

        if category
          h1.tc #{category.name}
        else
          h1.tc Categorías
        .justify-content-center.spacer.t-primary
          each category in categoriesHeader
            a.item(href=`/categorias/${category.slugLong}`) #{category.name}
      .col-xs-12.mt-1
        .list-products-grid
          ul.list.row-xp.flex-wrap.justify-content-center
            each product,pos in products
              li
                .w-230p.w-170p-xs.w-170p-sm.br-1.white.h-100
                  +simpleProduct(product.storeID, product)
          nav.mt-3
