extends ../../layout_store

block content
  include ../../fragments/header_store.pug
  .stub
    .stub__left.white.brr-1.hide-xs
      include ../../fragments/menu_store.pug
    .stub__right.w-100-xs
      if store.descriptionLong
        .container
          .row
            .col-xs-12
              .white.br-1.rd-0-2.p-1.mt-2
                  .row
                    .col-xs-12
                      | !{store.descriptionLong}
      .container-fluid
        .row.pb-2
          .col-xs-12
            if store.featuredCategories
              each featured in store.featuredCategories
                if products[featured.category._id].length
                  .flex.mt-2.mb-0-5
                    .title.b.t-primary.w-100
                      | #{featured.category.name}
                    .small.nowrap
                      a(href=`/${store.slug}/categorias/${featured.category.slugLong}`)
                        | Ver más
                        | #{' '}
                        i.fas.fa-arrow-right
                  .white.br-1.rd-0-2.p-1
                      .row
                        .col-xs-12
                          .list-products-inline.carousel.primary
                            .carousel-arrow.carousel-arrow-left
                              .carousel-icon-left
                                .out-screen Mover a la izquierda
                                i.fas.fa-chevron-left

                            .carousel-list
                              ul
                                each product,pos in products[featured.category._id]
                                  li
                                    .w-230p.w-170p-xs.w-170p-sm.br-1.white.h-100
                                      +simpleProduct(store, product)

                            .carousel-arrow.carousel-arrow-right
                              .carousel-icon-right
                                .out-screen Mover a la derecha
                                i.fas.fa-chevron-right

  include ../../fragments/footer_store.pug
