extends ../../layout_store

mixin product(product)
  //- remover en vitrina
  if !store.showcase

    if !(product.publish && product.isAvailable)
      .msg.mb-1.error
        i.fas.fa-exclamation-triangle
        | #{' '}
        | No disponible
    else if product.inventory && product.stock == 0
      .msg.mb-1.error
        i.fas.fa-exclamation-triangle
        | #{' '}
        | Agotado
    else if product.inventory && product.stock < 10
      .msg.mb-1.alert
        i.fas.fa-info-circle
        | #{' '}
        | Pocas unidades

  h2.t-primary #{product.name}
  .mt-1.small
    if (product.brandText)
      span.product-brand.t-secondary #{product.brandText}
      span.mw-1.h-100 |
    span.product-sku
      b SKU:
      | &nbsp;#{product.sku}
  .tr.social
    a.mr-1(href=`https://www.facebook.com/sharer.php?u=${appCnf.url.site}${originalUrl}` _target='_blank' title='Compartir en facebook' rel="noopener")
      i.fab.fa-facebook
    a(href=`https://twitter.com/share?text=${product.name}&amp;url=${appCnf.url.site}${originalUrl}` _target='_blank' title='Compartir en twitter' rel="noopener")
      i.fab.fa-twitter
  .hr.mh-1
  //- remover en vitrina
  if !store.showcase
    .flex
      .small.t-primary.mr-5
        | PRECIO:
      .social.t-secondary
        | #{formatMoney(product.price)}
        .message
    .t-action.small.mb-1
      if product.inventory
        if product.stock == 0
          | Agotado
        else if product.stock < 10
          | En stock, Pocas unidades
        else
          | En stock
      else
        | En stock
    if (product.publish && product.isAvailable) && ((product.inventory && product.stock) > 0 || !product.inventory)
      .quantity.flex.mt-1
        .box-controls.flex
          button.btn.btn--primary.small.mr-0-5.minus
            i.fas.fa-minus
            span.out-screen Disminuir cantidad
          .value.w-48p.mr-0-5.tc.b.p-0-25.br-1.rd-0-2.h-100(id='value_'+product.sku)
            | 0
          button.btn.btn--primary.small.mr-0-5.plus
            i.fas.fa-plus
            span.out-screen Aumentar cantidad
        button.btn.btn--primary.small.add AÑADIR AL CARRITO
    if (_.get(product, 'digital.is'))
      .remark.info.mh-1 Producto de transmisión por internet
  if product.groups
    .mh-1
      each group in product.groups
        .b.mb-0-5 #{group.feature}:
        each productID in group.productIDs
          a.btn.btn--white.mr-0-5.mb-0-5(href=`/${store.slug}/productos/${productID.sku}`) #{_.get(_.find(productID.features, 'slug', group.featureSlug), 'value')}
  .product-description.mt-2.mb-2
    | !{product.shortDescription.replace("\n",'<br>')}

  if product.upc || product.features.length
    .small.t-primary
      | CARACTERISTÍCAS:
    .hr.mb-0-5
    if (product.upc)
      .mt-0-25.product-upc
        b #{__('UPC')}:
        | &nbsp;#{product.upc}
    if (_.get(product, 'digital.is'))
      .mt-0-25.product-meta La URL del producto digital será mostrada luego de ser comprado.
    if product.features
      each feature in product.features
        .mt-0-25.product-meta
          strong #{feature.name}:
          | &nbsp;#{feature.value}

mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  if (image)
    img.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=name class=cssClass?cssClass:'w-100')
  else
    img.lazy(data-src=`${appCnf.url.static}images/imagen_no_disponible.svg` alt=name class=cssClass?cssClass:'w-100')

block content
  script(type='application/ld+json').
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "#{product.name}",
      "image": !{JSON.stringify(product.ldJson)},
      "description": "#{product.shortDescription ? `${product.name} - ${formatMoney(product.price)} - ${product.shortDescription.replace(/(<([^>]+)>)/ig, '').replace("\n",' ')}`:`${product.name} - ${formatMoney(product.price)} - ${store.name}`}",
      "sku": "#{product.sku}",
      "brand": {
        "@type": "Brand",
        "name": "#{product.brandText || store.name}"
      },
      "offers": {
        "@type": "Offer",
        "url": "#{appCnf.url.site}#{originalUrl}",
        "priceCurrency": "COP",
        "price": "#{product.price}",
        "priceValidUntil": "#{(new Date()).getFullYear()}-#{(new Date()).getMonth() + 1}-#{(new Date()).getDate()+1}T23:59:59-05:00",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "#{store.name}"
        }
      },
      "aggregateRating": {
        "@type": "aggregateRating",
        "ratingValue": #{rating(product.name) / 10},
        "reviewCount": #{rating("R:" + product.name)}
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": #{rating(product.name) / 10},
          "bestRating": 5
        },
        "author": {
          "@type": "Person",
          "name": "#{_.get(appCnf, 'site.name')}"
        }
      }
    }
  script(type='application/ld+json').
    {
      "@context": "https://schema.org/",
      "@type": "BreadcrumbList",
      "itemListElement": !{JSON.stringify(_.map(product.categoryIDs, (category, i)=>{return {"@type": "ListItem","position": i+1,"name": category.name,"item": `${appCnf.url.site}${store.slug}/categorias/${category.slugLong}`}}))}
    }

  .container
    .row.pb-2
      .col-xs-12
        ul.breadcrumb
          li.breadcrumb__item
            a.item(href=`/${store.slug}`) Inicio
          li.breadcrumb__item
            a.item(href=`/${store.slug}/categorias`) Categorías
          each category,index in product.categoryIDs
            li.breadcrumb__item
              a.item(href=`/${store.slug}/categorias/${category.slugLong}`) #{category.name}
          li.breadcrumb__item.breadcrumb--active #{product.name}

      .col-md-6
        h1.invisible #{product.name}
        .p-1.white.br-1.rd-0-2
          .carousel.primary
            .carousel-arrow.carousel-arrow-left
              .carousel-icon-left
                .out-screen Mover a la izquierda
                i.fas.fa-chevron-left

            .carousel-list
              ul
                each image in product.imagesSizes
                  li
                    .h-100.br-1.p-1.all.white
                      +img(product.name, image, ['484x484_jpg', '484x484_jpg'])

            .carousel-arrow.carousel-arrow-right
              .carousel-icon-right
                .out-screen Mover a la derecha
                i.fas.fa-chevron-right
          if (product.imagesSizes.length > 1)
            .mt-1.flex.oa
              each image in product.imagesSizes
                .p-0-5.white.br-1.rd-0-2.mr-1.hand.scroll-click(data-target='.carousel-list')
                  +img(product.name, image, ['96x96_jpg', '196x196_jpg'], 'h-96p')

        .show-xs.white.br-1.rd-0-2.p-1.mt-1
          +product(product)

        if product.longDescription
          .white.br-1.rd-0-2.p-1.mt-1
            .t-primary.title
              | Descripción
            .mt-0-5 !{product.longDescription}


        .white.br-1.rd-0-2.p-1.mt-1
          .t-primary.title
            | Compra
          ul.mt-0-5
            if _.get(store,'messages.deliveryTime')
              li !{_.get(store,'messages.deliveryTime')}
            else
              li Una vez que se ha enviado su producto, generalmente demora de 2 a 5 días hábiles en ciudades principales.

            if _.get(store,'messages.rightOfWithdrawal')
              li !{_.get(store,'messages.rightOfWithdrawal')}
            else
              li Puede pedir devolver su pago hasta 14 días después de la compra y que su producto no haya llegado o no sea lo que ha pedido.

            if _.get(store,'messages.warranty')
              li !{_.get(store,'messages.warranty')}

        .white.br-1.rd-0-2.p-1.mt-1
          .t-primary.title
            | Pago y Seguridad
          .t-secondary.subtitle.mt-0-5
            | Métodos de Pago
          .flex.flex-wrap.mt-1
            .tc.mr-4
              img.w-img-48(src=appCnf.url.static+'images/pagos/ico_tarjetas.svg' alt='pago tarjetas de crédito')
              .b.small Todas las tarjetas
            .tc
              img.h-img-48(src=appCnf.url.static+'images/pagos/ico_pse.svg' alt='pago pse')
              .b.small Cuentas de ahorro

          p Su información de pago se procesa de forma segura. No almacenamos detalles de la tarjeta de crédito ni tenemos acceso a la información de su tarjeta de crédito.
          .hr
          .t-secondary.subtitle.mt-0-5
            | Seguridad
          .flex.mt-1
            .bigx2.mr-0-5
              i.fas.fa-shield-alt
            div
              .t-primary COMPRA SEGURA
              .t-secondary GARANTIZADO

      .col-md-6.hide-xs.hide-sm
        .white.br-1.rd-0-2.p-1.place-product.sticky(
          data-product=JSON.stringify({
            sku: product.sku,
            name: product.name,
            categoryText: product.categoryText,
            brandText: product.brandText,
            price: product.price,
            store: store.slug
          })
          style='top: 100px')
          +product(product)

      .col-xs-12
        .flex.mt-2.mb-0-5
          .title.b.t-primary.w-100
            | Productos relacionados
        .white.br-1.rd-0-2.p-1.mt-1
          .row
            .col-xs-12
              .list-products-inline.carousel.primary
                .carousel-arrow.carousel-arrow-left
                  .carousel-icon-left
                    .out-screen Mover a la izquierda
                    i.fas.fa-chevron-left

                .carousel-list
                  ul
                    each product,pos in products
                      li
                        .w-230p.w-170p-xs.w-170p-sm.br-1.white.h-100
                          +simpleProduct(store, product)

                .carousel-arrow.carousel-arrow-right
                  .carousel-icon-right
                    .out-screen Mover a la derecha
                    i.fas.fa-chevron-right


  include ../../fragments/footer_store.pug