extends /modules/common/views/layout-edit-cmp

block edit
  .white.br-1.rd-0-2.p-3.mt-2
    form.validate-rest(id="formSite1" action=`${appCnf.url.api}admin/super/config` method="put" data-page=`/administracion/super/configuracion` data-error="#form-results-1")
      .msg.error#form-results-1
      .row
        .col-xs-12
          h2.mb-1 Principales datos
          .form-group
            .form-control
              input.input#name(type="text" name="name" placeholder=' ' required value=item.name)
              label(for='name') Nombre del portal
          .form-group
            .form-control
              input.input#title(type="text" name="title" placeholder=' ' required value=item.title)
              label(for='title') Título de la página principal
          .form-group
            .form-control
              textarea.input#description(name="description" placeholder=' ' required) #{item.description}
              label(for='description') Descripción (corta, no más de 50 palabras)
          .form-group
            .form-control
              input.input#url(type="url" name="url" placeholder=' ' required value=item.url)
              label(for='url') URL del sitio

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Guardar Cambios

  .white.br-1.rd-0-2.p-3.mt-2
    form.validate-rest(id="formSite2" action=`${appCnf.url.api}admin/super/config` method="put" data-page=`/administracion/super/configuracion` data-error="#form-results-2")
      .msg.error#form-results-2
      .row
        .col-xs-12
          h2.mb-1 Correo electrónco
          .form-group
            .form-control
              input.input#email-1(type="text" name="email[title]" placeholder=' ' required value=_.get(item, 'email.title'))
              label(for='email-1') Título de los correos
          .form-group
            .form-control
              input.input#email-2(type="text" name="email[emailNoreply]" placeholder='no-reply@dominio.com' required value=_.get(item, 'email.emailNoreply'))
              label(for='email-2') Correo para respuesta transaccionales
          .form-group
            .form-control
              input.input#email-3(type="text" name="email[emailInfo]" placeholder='info@dominio.com' required value=_.get(item, 'email.emailInfo'))
              label(for='email-3') Correo para envío

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Guardar Cambios


  .white.br-1.rd-0-2.p-3.mt-2
    form.validate-rest(id="formSite2" action=`${appCnf.url.api}admin/super/config` method="put" data-page=`/administracion/super/configuracion` data-error="#form-results-2")
      .msg.error#form-results-2
      .row
        .col-xs-12
          h2.mb-1 Redes Sociales
          each social, key in socialMedia
            .form-group
              .form-control
                input.input(type="hidden" name=`contacts[${key}][slug]` value=social[0])
                input.input(
                  id=`contacts-${social[0]}`
                  type=social[2]
                  name=`contacts[${key}][value]`
                  placeholder=' '
                  value=item.contacts ? (item.contacts.find(i=>i.slug==social[0])||{}).value : ''
                  )&attributes(social[3])
                label(for=`contacts-${social[0]}`) #{social[1]}

      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Guardar Cambios
