mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  if (image)
    img.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=_.truncate(name, {'length': 30,'separator': ' '}) class=cssClass?cssClass:'w-100')
  else
    img.lazy(data-src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt='' class=cssClass?cssClass:'w-100')

mixin btnPayment(order)
  if order.status === 'created' && order.payment.pse
    if order.payment.slug == 'wompi'
      button.btn.btn--alert.small.w-100.ph-0-5.rd-50.mt-0-5-sm.mt-0-5-xs.mb-1.payment--wompi(
        style="height: auto;"
        id='id_'+order.orderID
        data-order=order._id)
          b Wompi
          .title Pagar #{formatMoney(order.order.total)}
    else
      button.btn.btn--alert.small.w-100.ph-0-5.rd-50.mt-0-5-sm.mt-0-5-xs.mb-1.payment--file(
        style="height: auto;"
        data-id=order._id
        data-orderid=order.orderID
        data-payment=JSON.stringify(_.pick(order.payment,['fields','info']))
        )
          b #{_.get(_.find(payments,{slug:order.payment.slug}),'name')}
          .title Pagar #{formatMoney(order.order.total)}
  if order.status === 'picking' && !order.payment.pse
    button.btn.btn--alert.small.w-100.ph-0-5.rd-50.mt-0-5-sm.mt-0-5-xs.mb-1(
      style="height: auto;"
    )
      b Pago contra entrega
      .title Pagar #{formatMoney(order.order.total)}

doctype html
html(lang='es')
  head
    include fragments/head.pug
    include fragments/metatag.pug

  body(data-url-api=appCnf.url.api)
    if process.env.NODE_ENV == 'production' && appCnf.gtm
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id='+appCnf.gtm height='0' width='0' style='display:none;visibility:hidden')

    include fragments/header
    .navbar-fixed-t-4-xs
      include fragments/header-account.pug
      block content

    .navbar-fixed-b-4-xs
      include fragments/footer.pug
    include fragments/scripts.pug