mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  if (image)
    img.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=_.truncate(name, {'length': 30,'separator': ' '}) class=cssClass?cssClass:'w-100')
  else
    img.lazy(data-src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt='' class=cssClass?cssClass:'w-100')

mixin simpleProduct(store, product)
  .h-100.relative.p-1.pb-3.product(
    data-list='tiendas/'+store.slug+'/productos/'+product.sku
    data-product=JSON.stringify({
      sku: product.sku,
      name: product.name,
      categoryText: product.categoryText,
      brandText: product.brandText,
      price: product.price,
      store: store.slug
    })
    data-pos=pos+1)
    a(href='/tiendas/'+store.slug+'/productos/'+product.sku)
      +img(product.name, _.first(product.imagesSizes), ['196x196_jpg', '392x392_jpg'])
    if product.brandText
      .t-white-700.small.mb-1 #{product.brandText}
    .t-primary.tc.b.small #{product.name}
      //- remover en vitrina
      if !store.showcase
        .t-secondary.b.big #{formatMoney(product.price)}
        .t-action.small.mb-4
          if product.inventory
            if product.stock == 0
              | Agotado
            else if product.stock < 10
              | En stock, Pocas unidades
            else
              | En stock
          else
            | En stock

        .absolute.w-100c2.ab-1
          if (product.publish && product.isAvailable) && ((product.inventory && product.stock) > 0 || !product.inventory)
            button.btn.btn--secondary.w-100.add
              i.fas.fa-cart-plus
              | #{' '}
              | Agregar
          else
            a.btn.btn--secondary-500.w-100.ab-0(href='/'+store.slug+'/productos/'+product.sku) Ver
      else
        .mb-4
        .absolute.w-100c2.ab-1
          a.btn.btn--secondary.w-100.ab-0(href='/'+store.slug+'/productos/'+product.sku) Ver

doctype html
html(lang='es')
  head
    include fragments/head.pug
    include fragments/metatag.pug

  body(data-url-api=appCnf.url.api)
    if process.env.NODE_ENV == 'production' && appCnf.gtm
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id='+appCnf.gtm height='0' width='0' style='display:none;visibility:hidden')

    include fragments/header
    .navbar-fixed-t
      block content


    include fragments/footer.pug
    include fragments/scripts.pug