mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  .relative.rd-0-5.oh
    if (image)
      img.w-100.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=name class=cssClass?cssClass:'')
    else
      img.w-100.lazy(data-src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt=name class=cssClass?cssClass:'')
    .absolute.top.black.op-0-05.w-100.h-100

mixin simpleProduct(product)
  +img(product.name, _.first(product.imagesSizes), ['196x196_jpg', '392x392_jpg'])

.white.p-1-sm.p-1-md.p-1-lg.p-1-xl.h-100
  .b.mb-0-5
    if slug=='launcher-new-offers'
      | Ofertas
    else if slug=='launcher-new-products'
      | Nuevos productos
    else if slug=='launcher-favorites'
      | Favoritos
    else if slug=='launcher-features'
      | Destacados
  .flex.align-items-start
    each item,i in items
      .tc.h-100.relative.flex-grow.flex-basis.w-50.p-1p(class=(i>=2?'hide-xs hide-sm':'')+(i>=3?' hide-md':''))
        if item.productID
          a.flex.col(href=`/grupos/${url}/${_.get(_.first(_.get(item, 'productID.categoryIDs')), 'slugLong')}`)
            +simpleProduct(item.productID)
            .w-100.mt-1-sm.mt-1-md.mt-1-lg.mt-1-xl
              .small.oh.ellipsis.lines-2
                if slug=='launcher-new-offers'
                  if _.get(item.productID, 'offer.percentage') && ( (_.get(item.productID, 'offer.available.start') && moment().isAfter(moment(item.productID.offer.available.start)) ) || !_.get(item.productID, 'offer.available.start') )  && ( (_.get(item.productID, 'offer.available.end') && moment().isBefore(moment(item.productID.offer.available.end)) ) || !_.get(item.productID, 'offer.available.end') )
                    .b.t.t-gray-2 #{formatMoney(item.productID.price || 0)}
                    .b #{formatMoney(item.productID.offer.price || 0)}
                  else
                    .b #{formatMoney(item.productID.price || 0)}
                else
                  | #{_.first(item.productID.categoryText)}


