extends ../../layout

block content
  .container
    include ../../fragments/breadcrumb

  .container
    h1 Registro
    .row.justify-content-center
      .col-xs-12.col-md-6
        .oh.white.br-1.rd-0-2.mh-2
          .p-1
            .msg.error#form-results
            .row
              form.col-xs-12.validate-rest(id="signupForm" action=`${appCnf.url.api}users` method="post" data-page=`registro-confirmacion` data-error="#form-results")
                .row
                  .col-xs-12
                    .form-group
                      .form-control
                        input.input#firstname(type="text" name="firstname" placeholder=' ' required)
                        label(for='firstname') Nombre
                  .col-xs-12
                    .form-group
                      .form-control
                        input.input#lastname(type="text" name="lastname" placeholder=' ' required)
                        label(for='lastname') Apellido
                  .col-xs-12
                    .form-group.flex
                      .form-control
                        select#callsign.input(name='callsign' required)
                          option(value="+57") +57
                        label.nowrap(for='callsign') Indicativo País
                      .form-control.w-100.pl-1
                        input.input#cellphone(type="text" name="cellphone" placeholder=' ' required cellphone)
                        label(for='cellphone') Número de célular
                  .col-xs-12
                    .form-group
                      .form-control
                        input.input#email(type="email" name="email" autocomplete="username" placeholder=' ' required)
                        label(for='email') Correo Electrónico
                  .col-xs-12
                    .form-group
                      .form-control
                        input.input#password(type="password" name="password" autocomplete="new-password" placeholder=' ' required)
                        label(for='password') Contraseña
                  .col-xs-12
                    .form-group
                      .form-control
                        label
                          input.checkbox#tyc(
                            type="checkbox" 
                            name="tyc" 
                            value='1' 
                            requireCheck 
                            data-msg-error="Debe aceptar los Términos y Condiciones de Cliente para continuar"
                          )
                          span Acepto Términos y condiciones de Cliente
                  .col-xs-12
                    .form-group
                      .form-control
                        a.b(href='/documentos/terminos-y-condiciones-cliente') 
                          | Ver Términos y Condiciones Cliente
                          | #{' '}
                          i.fas.fa-external-link-alt
                  .col-xs-12
                    .form-group
                      .form-control
                        label
                          input.checkbox#pptd(
                            type="checkbox" 
                            name="pptd" 
                            value='1' 
                            requireCheck 
                            data-msg-error="Debe aceptar la Política de Privacidad y Tratamiento de Datos para continuar"
                          )
                          span Acepto la Política de Privacidad y Tratamiento de Datos
                  .col-xs-12
                    .form-group
                      .form-control
                        a.b(href='/documentos/politica-de-privacidad-y-tratamiento-de-datos') 
                          | Ver Política de Privacidad y Tratamiento de Datos
                          | #{' '}
                          i.fas.fa-external-link-alt
                .row
                  .col-xs-12.tr
                    button.btn.btn--primary.w-100-xs(type="submit") Completar registro
          .p-1.white-500
            .row
              .col-xs-12
                a(href="/iniciar-sesion") Iniciar Sesión
              .col-xs-12
                a(href="/recuperar-contrasena") ¿Olvidaste tu contraseña?