extends /modules/admin/views/layout-edit-cmp

block edit
  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/super/help`
    method="post"
    data-page=`/administracion/super/ayuda`
    data-error="#form-results")
    .white.br-1.rd-0-2.p-3
      .msg.error#form-results
      .row
        .col-xs-12
          .form-group
            .form-control
              label.switch
                input#active(type="hidden" name="active" value='0')
                span.check
                span.caption Activa
          .form-group
            .form-control
              select.input#categoryID.department(name='categoryID' required)
                option(value='') --
                each category in categories
                  option(value=category._id) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              input.input#order(type="number" name="order" placeholder=' ' value=50)
              label(for='order') Orden
          .form-group
            .form-control
              input.input#title(type="text" name="title" placeholder=' ' required)
              label(for='title') Título
          .form-group
            .form-control
              textarea.input#seo(name="seo" placeholder=' ' data-count="180" data-target="#count-short-seo")
              label(for='seo') Texto Seo
            .small No más de 180 caracteres. Lleva #{' '}
              spam#count-short-description
              | #{' '}caracteres
          .form-group.ph-1
            .subtitle.mb-0-5 Texo
            .form-control
              textarea.cke#text(name="text" placeholder=' ')
      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Nuevo Tópico
