mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  if (image)
    img.br-1.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=_.truncate(name, {'length': 30,'separator': ' '}) class=cssClass?cssClass:'w-100')
  else
    img.br-1.lazy(data-src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt=_.truncate(name, {'length': 30,'separator': ' '}) class=cssClass?cssClass:'w-100')

mixin simpleProduct(product)
  +img(product.name, _.first(product.imagesSizes), ['196x196_jpg', '392x392_jpg'])

.b Nuevos productos
.flex.justify-content-center
each item,i in items
  .h-100.white.mr-1
  .tc.h-100.relative.pb-1
      a(href=`/tienda/${item.productID.storeID.slug}/`)
      +simpleProduct(item.productID)
      .t-secondary.b $#{formatMoney(item.productID.price)}