extends ../../layout-list

block list
  .remark
    b A
    | #{' '} = Activo,
    | #{' '}
  form.validate-rest(
      id="updateDeliveryForm"
      action=`${appCnf.url.api}admin/stores/${store._id}`
      method="post"
      data-page=`/administracion/tiendas/${store._id}/opciones-de-pago`
      data-error="#form-results")
    .msg.error#form-results
    table.small.table.table--lines.table--striped
      thead
        tr
          th.b.tc A
          th.w-100.b Metodo de Envío
      tbody
        each item,i in payments
          tr
            td.tc
              input(type="hidden" name=`payments[${i}][slug]` value=item.slug)
              label
                input.checkbox.checkbox--no-margin(type="checkbox" name=`payments[${i}][active]` value='1' checked=item.active)
                span 
            td.w-100
              .b #{item.name}
              .small #{item.description}

    .row
      .col-xs-12.tr
        button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Editar opciones de pago