extends ../../layout-view

block view
  table.small.table.table--lines
    tbody
      tr
        td.w-100
          .b Estado
          if store.approve
            | Aprobado
          else
            | Pendiente de revisión
        td.tc
          if !store.approveSend
            a.btn.btn--primary.small(href=`/administracion/tiendas/${req.params.storeID}/pedir-revision`) Solicitud de revisión
      tr
        td.w-100
          .b Publicación
          if store.publish && store.approveSend
            | Esta tienda aun no es visible, esta en proceso de revisión
          else if store.publish && !store.approve
            | Esta tienda aun no es visible, necesita ser enviada a revisión
          else if store.publish
            | Esta tienda es visible para todos
          else
            | Esta tienda es visible solo para ti
        td.tc
          if store.publish
            a.btn.btn--primary.small(href=`/administracion/tiendas/${req.params.storeID}/esconder`) Esconder tienda y productos
          else
            a.btn.btn--primary.small(href=`/administracion/tiendas/${req.params.storeID}/publicar`) Publicar
      tr
        td.w-100
          .b Nombre
          | #{store.name}
        td.tc(rowspan=2)
          a.btn.btn--primary.small(href=`/administracion/tiendas/${req.params.storeID}/editar`) Editar
      tr
        td.w-100
          .b URL
          | #{req.site.url}tiendas/#{store.slug}