extends ../../layout-edit

block edit
  form.validate-rest(id="updateProfileForm" action=`${appCnf.url.api}admin/stores/${store._id}` method="put" data-page=`/administracion/tiendas/${store._id}` data-error="#form-results")
    .row
      .col-xs-12
        .form-group
          .form-control
            label
              input.checkbox#publish(type="checkbox" name="publish" value='1' checked=store.publish)
              span Publicado
        .form-group
          .form-control
            input.input#name(type="text" name="name" placeholder=' ' required value=store.name)
            label(for='name') Nombre de la tienda
        .form-group.flex
          .form-control
            .nowrap.ellipsis #{appCnf.url.site}
            label.nowrap URL
          .form-control.w-100.pl-1
            input.input#slug(type="text" name="slug" placeholder=' ' value=store.slug slug)
            label(for='slug') Slug
        .form-group
          .form-control
            input.input#slogan(type="text" name="slogan" placeholder=' ' value=store.slogan)
            label(for='slogan') Slogan (corto, no mas de 100 carácteres)
        .form-group
          .form-control
            textarea.input#description(name="seo" placeholder=' ' rowspan=5) #{store.seo}
            label(for='seo') SEO (corta, no más de 50 palabras)
        .form-group.ph-1
          .mb-1.subtitle Visión (Se muestra al pie de página en toda la tienda)
          textarea.cke#vision(data-target='#vision' name="vision") !{store.vision}

        .form-group.ph-1
          .mb-1.subtitle Descripción Larga (Se muestra al inicio, junto con el mapa)
          textarea.cke#descriptionLong(data-target='#descriptionLong' name="descriptionLong") !{store.descriptionLong}

        .form-group
          .form-control
            select.input#department.department(name='department' required data-target='#town')
              option(value='') --
              each department in departments
                option(value=department.slug selected=store.department==department.slug) #{department.name}
            label.nowrap(for='department') Departamento
        .form-group
          .form-control
            select.input#town(name='town' required)
              option(value='') --
              each town in towns
                option(value=town.slug selected=store.town==town.name) #{town.name}
            label.nowrap(for='town') Municipio
        .form-group
          .form-control
            input.input#primaryActivity(type="text" name="primaryActivity" placeholder='Restaurantes, Transporte, Servicios...' required value=store.primaryActivity)
            label(for='primaryActivity') Actividad primaria


    .row
      .col-xs-12.tr
        a.btn.btn--secondary.w-100-xs(href=`/administracion/tiendas/${store._id}`) Cancelar
        | #{' '}
        button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Editar Tienda
