extends ../../layout-edit

block edit
  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/stores/${store._id}/coverages-areas`
    method="post"
    data-page=`/administracion/tiendas/${store._id}/zonas-de-coberturas`
    data-error="#form-results")
    .row
      .col-xs-12
        .msg.info.mb-0-5
          .flex
            i.fas.fa-exclamation.h2.mr-0-25.w-2.tc
            div Las 치reas de cobertura son una zona de un mapa donde se prestar치 el servicio de envio local proporcionado por el due침o de la tienda.
        .form-group
          .form-control
            label
              input.checkbox#active(type="checkbox" name="active" value='1')
              span Activo
        .form-group
          .form-control
            input.input#name(type="text" name="name" placeholder=' ' required)
            label(for='name') Nombre del 치rea de cobertura
        .form-group
          .form-control
            .subtitle Mapa
        .form-group
          .form-control
            input#points(type="hidden" name="points")
            #map-edit.w-100.h-460p
    .row
      .col-xs-12.tr
        button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Crear Zona de Cobertura
