extends /modules/admin/views/layout-edit-cmp

block edit
  if !store.publish
    .row
      .col-md-12.ph-1
        .alert.tc.p-2 TIENDA NO PUBLICADA: Soló tú la puedes ver.
  if !store.approve
    .row
      .col-md-12.ph-1
        .alert.tc.p-2 TIENDA NO APROBADA: debes publicar la tienda y un administrador la revisará

  .msg.error#form-results

  .white.br-1.rd-0-2.pw-2.pt-1.pb-1.mb-1
    .tabs.tabs--lines.oa.nowrap
      a.item.active(data-tab='#p1') Tienda
      a.item(data-tab='#p2') Datos Principales
      a.item(data-tab='#p3') Descripción
      a.item(data-tab='#p4') Región
      a.item(data-tab='#p5') Mensajes

  .tabs-content
    .tab.active#p1
      .white.br-1.rd-0-2.pw-2.pt-1.pb-2.mb-1
        form.validate-rest(
          action=`${appCnf.url.api}admin/stores/${store._id}`
          method="put"
          data-ok='Cambios guardados'
          data-ok-color='action'
          data-error="#form-results"
        )

          .row
            .col-xs-12
              .form-group
                .form-control
                  label.switch
                    input#publish(type="hidden" name="publish" value=store.publish?'1':'0')
                    span.check
                    span.caption Publicado
              .remark.info.flex.mb-2
                .h4.mr-1.t-info
                  i.fas.fa-info-circle
                div
                  span.t-info.b Publicado:
                  | #{' '}
                  | Ajusta la tienda para que todos la puendan ver.
              if _.get(req, 'modules.individual')
                .form-group
                  .form-control
                    label.switch
                      input#showcase(type="hidden" name="showcase" value=store.showcase?'1':'0')
                      span.check
                      span.caption Vitrina
                .remark.info.flex.mb-2
                  .h4.mr-1.t-info
                    i.fas.fa-info-circle
                  div
                    span.t-info.b Vitrina:
                    | #{' '}
                    | Activa esta opción si solo quieres mostrar productos, no se muestran precios, el carrito de compras estará deshabilitado.

                .subtitle.mb-1.b Modo de presentación
                .form-group
                  .form-control
                    label
                      input.radio(type='radio' checked=store.mode=='store'||!store.mode?true:false name='mode' value='store')
                      span Tienda
                      .remark.info.flex.mh-1
                        .h4.mr-1.t-info
                          i.fas.fa-info-circle
                        div
                          span.t-info.b Tienda:
                          | #{' '}
                          | Los productos se muestran en categorías con opciones de búsqueda, perfecto si hay muchos productos y muchas categorías.
                  .form-control
                    label
                      input.radio(type='radio' checked=store.mode=='restaurant'?true:false name='mode' value='restaurant')
                      span Restaurante
                      .remark.info.flex.mt-1
                        .h4.mr-1.t-info
                          i.fas.fa-info-circle
                        div
                          span.t-info.b Restaurante:
                          | #{' '}
                          | Todos los productos se muestran en la página de la tienda, ordenados en categorías.

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs(type="submit") Guardar Cambios

    .tab#p2
      .white.br-1.rd-0-2.pw-2.pt-1.pb-2.mb-1
        form.validate-rest(
          action=`${appCnf.url.api}admin/stores/${store._id}`
          method="put"
          data-ok='Cambios guardados'
          data-ok-color='action'
          data-error="#form-results"
        )
          .row
            .col-xs-12
              .form-group
                .form-control
                  input.input#name(type="text" name="name" placeholder=' ' required value=store.name)
                  label(for='name') Nombre de la tienda
              .form-group.flex
                .form-control
                  .nowrap.ellipsis #{req.site.url}
                  label.nowrap URL
                .form-control.w-100.pl-1
                  input.input#slug(type="text" name="slug" placeholder=' ' value=store.slug slug)
                  label(for='slug') Slug
              .form-group
                .form-control
                  input.input#slogan(type="text" name="slogan" placeholder=' ' value=store.slogan)
                  label(for='slogan') Slogan (corto, no mas de 100 carácteres)
              .form-group
                .form-control
                  textarea.input#description(name="seo" placeholder=' ' data-count="180" data-target="#count-short-description") #{store.seo}
                  label(for='seo') Descripción (corta, entre 150 y 180 caracteres)
                .small No más de 180 caracteres. Lleva #{' '}
                  spam#count-short-description
                  | #{' '}caracteres

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs(type="submit") Guardar Cambios

    .tab#p3
      .white.br-1.rd-0-2.pw-2.pt-1.pb-2.mb-1
        form.validate-rest(
          action=`${appCnf.url.api}admin/stores/${store._id}`
          method="put"
          data-ok='Cambios guardados'
          data-ok-color='action'
          data-error="#form-results"
        )
          .row
            .col-xs-12
              .form-group.ph-1
                .mb-1.subtitle Descripción Larga (Se muestra en la página principal de la tienda)
                textarea.cke-user#descriptionLong(data-target='#descriptionLong' name="descriptionLong") !{store.descriptionLong}

              .form-group.ph-1
                .mb-1.subtitle Pie de página
                textarea.cke-user#vision(data-target='#vision' name="vision") !{store.vision}

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs(type="submit") Guardar Cambios

    .tab#p4
      .white.br-1.rd-0-2.pw-2.pt-1.pb-2.mb-1
        form.validate-rest(
          action=`${appCnf.url.api}admin/stores/${store._id}`
          method="put"
          data-ok='Cambios guardados'
          data-ok-color='action'
          data-error="#form-results"
        )
          .row
            .col-xs-12
              .form-group
                .form-control
                  select.input#department.department(name='department' required data-target='#town')
                    option(value='') --
                    each department in departments
                      option(value=department.slug selected=store.department==department.slug) #{department.name}
                  label.nowrap(for='department') Departamento
              .form-group
                .form-control
                  select.input#town(name='town' required)
                    option(value='') --
                    each town in towns
                      option(value=town.slug selected=store.town==town.name) #{town.name}
                  label.nowrap(for='town') Municipio
              .form-group
                .form-control
                  select.input#primaryActivity(name='primaryActivity' required data-target='#town')
                    option(value='') --
                    each activity in activities
                      option(value=activity selected=store.primaryActivity==activity) #{activity}
                  label.nowrap(for='primaryActivity') Actividad primaria
              .form-group
                .form-control
                  input.input#secondaryActivity(type="text" name="secondaryActivity" placeholder=' ' required value=store.secondaryActivity)
                  label(for='secondaryActivity') Actividad secundaria

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs(type="submit") Guardar Cambios

    .tab#p5
      .white.br-1.rd-0-2.pw-2.pt-1.pb-2.mb-1
        form.validate-rest(
          action=`${appCnf.url.api}admin/stores/${store._id}`
          method="put"
          data-ok='Cambios guardados'
          data-ok-color='action'
          data-error="#form-results"
        )
          .row
            .col-xs-12
              .form-group
                .form-control
                  textarea.input#deliveryTime(name="messages.deliveryTime" placeholder=' ' rows=8) #{_.get(store,'messages.deliveryTime')}
                  label(for='deliveryTime') Tiempo de entrega
              .form-group
                .form-control
                  textarea.input#rightOfWithdrawal(name="messages.rightOfWithdrawal" placeholder=' ' rows=8) #{_.get(store,'messages.rightOfWithdrawal')}
                  label(for='rightOfWithdrawal') Derecho al retracto
              .form-group
                .form-control
                  textarea.input#warranty(name="messages.warranty" placeholder=' ' rows=8) #{_.get(store,'messages.warranty')}
                  label(for='warranty') Garantía

          .row
            .col-xs-12.tr
              button.btn.btn--primary.w-100-xs(type="submit") Guardar Cambios
