extends ../../layout_account

block content
  .container(class=account?'':'mt-4')
    include ../../fragments/breadcrumb

    .row
      .col-xs-12
        h1 #{title}

    .row.justify-content-center
      .col-md-8
        .msg.mb-2(class=msg.color)
          if msg.title
            .b.title.p-1 #{msg.title}
          .hr
          .p-1 !{msg.text}

