extends ../layout

block content
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "LocalBusiness",
      "name": "#{config.site.name}",
      "url": "#{config.url.site}",
      "sameAs": !{JSON.stringify(config.site.sameAs)},
      "logo": "#{config.url.static}tenancy/#{config.tenancy}/images/logo-01.png",
      "image": "#{config.url.static}tenancy/#{config.tenancy}/images/logo-02.png",
      "description": "#{config.site.description}",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "Colombia"
      }
    }

  h1.out-screen #{config.site.name}
  .container-fluid.h-460p.h-100-xs.bg.s-cover.lazy(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/460_home2.jpg')
    .container
      .row
        .col-lg-5.offset-lg-6
          .p-3.mh-5.a-black-20.rd-0-5
            .bigx2.b-category #{config.site.name}
            .subtitle.b El espacio para que des a conocer los productos de tu emprendimiento
  if stores.length
    .container
      h2.b.t-primary.tc.mt-2 Nuestras tiendas
      .hr.mt-1.mb-2
      .row.justify-content-center
        .col-sm-10.col-md-8
          .row
            each store in stores
              .col-xs-6.col-md-4.ph-1.pw-1-xs.mw-1-sm
                .relative.br-1.p-1.pb-3.h-100.brt-10.rd-0-5.white
                  .tc
                    a(href=`/${store.slug}`)
                      img.w-100(src=`${store.imageSizes['196x196_jpg']}` alt=`Logo de la tienda ${store.name}`)
                  .title.mt-0-5.b #{store.name}
                  .subtitle.pb-1 #{store.slogan}
                  .absolute.bottom.tc.pb-1.w-100c2
                    a.btn.btn--secondary.w-100(href=`/${store.slug}`) Visitar

  include ../fragments/landpage-invite.pug

  .container-fluid.color-bg-gray-ligh.form-bg-gray
    .container.mt-2.ph-2
      .row
        .col-md-12.tc
          h2.b.t-primary ¿TE QUEDAN DUDAS?
          p Contáctanos para más información. inscríbete para empezar a vender.

          a.btn.btn--primary(href='/usuario/vendedor') Quiero empezar a vender