extends ../layout

block content
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "LocalBusiness",
      "name": "#{_.get(req, 'site.name')}",
      "url": "#{req.site.url}",
      "sameAs": !{JSON.stringify(_.get(req, 'site.sameAs'))},
      "logo": "#{appCnf.url.cdn}tenancy/#{req.tenancy}/images/logo-01.png",
      "image": "#{appCnf.url.cdn}tenancy/#{req.tenancy}/images/logo-02.png",
      "description": "#{_.get(req, 'site.description')}",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "Colombia"
      }
    }

  h1.out-screen #{_.get(req, 'site.name')}
  .container-fluid.h-460p.h-100-xs.bg.s-cover.lazy(data-src=appCnf.url.cdn+'tenancy/'+req.tenancy+'/images/home/1920_home2.jpg')
    .container
      .row
        .col-lg-6.offset-lg-3
          .p-3.mh-5.a-black-70.rd-0-5
            .bigx2.b-category #{_.get(req, 'site.name')}
            .subtitle.b El espacio para que des a conocer los productos de tu emprendimiento
  .container
    h2.b.t-primary.tc.mt-2 Nuestras tiendas
    .hr.mt-1.mb-2
    .row.justify-content-center
      .col-sm-10.col-md-8
        .row
          .col-md-12.big
            form.flex(class="search" action=`/tiendas/buscar`)
              label.out-screen(for='query-d') Buscar
              input#query-d.input--simple.w-100.rdtl-50.rdbl-50.ph-0-25.pw-1(type="text" name="q" placeholder='Buscar tiendas' required value=q)
              button.btn.btn--secondary
                i.fas.fa-search
                span.out-screen Buscar tiendas
        each item in items
          if item.stores.length
            .row
              .col-md-12
                h2.b.t-primary.mt-1 #{item.activity}
                .hr.mt-1
              each store in item.stores
                .col-xs-6.col-md-4.ph-1.pw-1-xs.mw-1-sm
                  .relative.br-1.p-1.pb-3.h-100.brt-10.rd-0-5.white
                    .tc
                      a(href=`/tiendas/${store.slug}`)
                        +img(`Logo de la tienda ${store.name}`, _.get(store, 'imageSizes.logo'))
                    .title.mt-0-5.b #{store.name}
                    .subtitle.pb-1 #{store.slogan}
                    .absolute.bottom.tc.pb-1.w-100c2
                      a.btn.btn--secondary.w-100(href=`/tiendas/${store.slug}`) Visitar

  include ../fragments/landpage-invite.pug

  .container-fluid.white-500
    .container.mt-2.ph-2
      .row
        .col-md-12.tc
          h2.b.t-primary ¿TE QUEDAN DUDAS?
          p Contáctanos para más información. inscríbete para empezar a vender.

          a.btn.btn--primary(href='/usuario/vendedor') Quiero empezar a vender