extends ../layout

block content
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "LocalBusiness",
      "name": "Tienda p4s",
      "url": "https://vendelomejor.com/",
      "sameAs": [
        "https://www.facebook.com/Tienda-p4s-108008880983303",
        "https://www.facebook.com/tiendap4s",
        "https://tienda.p4s.co/",
        "https://vendelomejor.com/"
      ],
      "logo": "https://cdn.vendelomejor.com/common/images/logo_transparente.png",
      "image": "https://cdn.vendelomejor.com/common/images/logo_texto_morado.png",
      "description": "#{config.site.description}",
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "Colombia"
      }
    }

  h1.out-screen #{config.site.name}
  .container-fluid.h-460p.h-100-xs.bg.s-cover.lazy(data-src=config.url.static+'images/home/460_home2.jpg')
    .container
      .row
        .col-lg-5.offset-lg-6
          .p-3.mh-5.a-black-20.rd-0-5
            .bigx2.b-category #{config.site.name}
            .subtitle.b El espacio para que des a conocer los productos de tu emprendimiento
  if stores.length
    .container
      h2.b.t-primary.tc.mt-2 Nuestras tiendas
      .hr
      .row.justify-content-center
        .col-sm-10.col-md-8
          .row
            each store in stores
              .col-xs-6.col-md-4.ph-1.pw-1-xs.mw-1-sm
                .relative.br-1.p-1.pb-3.h-100.brt-10.rd-0-5.white
                  .tc
                    a(href=`/${store.slug}`)
                      img.w-100(src=`${store.imageSizes['196x196_jpg']}` alt=`Logo de la tienda ${store.name}`)
                  .title.mt-0-5.b #{store.name}
                  .subtitle.pb-1 #{store.slogan}
                  .absolute.bottom.tc.pb-1.w-100c2
                    a.btn.btn--secondary.w-100(href=`/${store.slug}`) Visitar

  .container
    .row
      .col-md-12
        h2.b.t-primary.tc.mt-5 ¿Por qué debes unirte a los empresarios que ya venden a través de tiendas p4s?
        .hr.mh-3
    .row.justify-content-center
      .col-md-8
        .row
          .col-md-5.mb-3
            img.lazy.responsive(data-src=config.url.static+'images/home/343_menor-costo-800x486.jpg' data-retina=config.url.static+'images/home/686_menor-costo-800x486.jpg' alt='Reducción costos')
          .col-md-7.mb-3
            h3.b.t-primary PUEDES REDUCIR TUS GASTOS O INCLUSO ELIMINARLOS
            p
              | Siendo parte de tiendas p4s podrías pensar en olvidarte de la renta de un local y de sus costos administrativos.

          .col-md-5.mb-3.show-xs.show-sm
            img.lazy.responsive(data-src=config.url.static+'images/home/343_mas-clientes-800x486.jpg' data-retina=config.url.static+'images/home/686_mas-clientes-800x486.jpg' alt='Más clientes')
          .col-md-7.mb-3
            h3.b.t-primary PUEDES CONSEGUIR MÁS CLIENTES
            p
              | 1 de cada 3 usuarios de internet visita una tienda en línea con intención de realizar una compra. Tus productos pueden ser una de ellas.

          .col-md-5.mb-3.hide-xs.hide-sm
            img.lazy.responsive(data-src=config.url.static+'images/home/343_mas-clientes-800x486.jpg' data-retina=config.url.static+'images/home/686_mas-clientes-800x486.jpg' alt='Más clientes')
          .col-md-5.mb-3
            img.lazy.responsive(data-src=config.url.static+'images/home/343_24-7d800x483.jpg' data-retina=config.url.static+'images/home/686_24-7d800x483.jpg' alt='Mayor margen de beneficio')
          .col-md-7.mb-3
            h3.b.t-primary NO TIENES HORARIOS DE ATENCIÓN
            p
              | Tus productos estarán disponibles 24/7 para todos los visitantes de tiendas p4s.
          .col-md-5.mb-3.show-xs.show-sm
            img.lazy.responsive(data-src=config.url.static+'images/home/343_mayor-margen-de-ganancia800x483.jpg' data-retina=config.url.static+'images/home/686_mayor-margen-de-ganancia800x483.jpg' alt='Sin horarios')
          .col-md-7.mb-3
            h3.b.t-primary PUEDES PUBLICAR TODO TU INVENTARIO
            p
              | ¡Tus productos siempre estarán disponibles! Con nuestras instrucciones y recomendaciones, podrás publicar y detallar cada producto y hacerlos más atractivos para tus clientes. Nosotros nos encargamos de la publicación y de informarte sobre tus ventas.
          .col-md-5.mb-3.hide-xs.hide-sm
            img.lazy.responsive(data-src=config.url.static+'images/home/343_mayor-margen-de-ganancia800x483.jpg' data-retina=config.url.static+'images/home/686_mayor-margen-de-ganancia800x483.jpg' alt='Sin horarios')
          .col-md-5.mb-3
            img.lazy.responsive(data-src=config.url.static+'images/home/343_escalabilidad800x483.jpg' data-retina=config.url.static+'images/home/686_escalabilidad800x483.jpg' alt='Escalabilidad')
          .col-md-7.mb-3
            h3.b.t-primary NO TIENES LÍMITES
            p
              | Lleva tu marca a clientes de todo el país o incluso a nivel internacional. Con nosotros podrás atender a uno o mil interesados.

  .container-fluid.color-bg-gray-ligh.form-bg-gray
    .container.mt-5.padding-top-32.padding-bottom-32
      .row
        .col-md-12.tc
          h2.b.t-primary ¿TE QUEDAN DUDAS?
          p Contáctanos para más información. inscríbete para empezar a vender.

          a.btn.btn--primary(href='https://admin-tienda.p4s.co/signup' target='_blank') Quiero empezar a vender