extends /modules/admin/views/layout-list

block list
  if items.length
    table.small.table.table--lines.table--striped
      thead
        tr
          th.b &nbsp;
          th
            .b Categoría
            .b Pregunta
            .b Slug
            .b Respuesta
      tbody
        each item of items
          tr
            td(rowspan=3).tc
              a(href=`/administracion/super/faq/${item._id}/editar` title='Ver')
                i.fas.fa-search
            td #{_.get(item, 'categoryID.name')}
          tr
            td
              .b
                a(href=`/administracion/super/faq/${item._id}/editar`) #{item.question}
              .i #{item.slug}
          tr
            td !{item.answer}

      tfoot
        tr
          th(colspan="5")
            +paginator
  else
    +noItems('No hay preguntas creadas.')