extends ../../layout

block content

  .container.pt-3
    .row
      .col-xs-12
        .steps
          a(href='/carrito').step.completed
            .step-icon
              i.fas.fa-box-open
            .step-content
              .step-title Productos
              .step-description Verifique sus productos
          a(href='/carrito-direccion').step.completed
            .step-icon
              i.fas.fa-map-marked-alt
            .step-content
              .step-title Dirección
              .step-description Verifique su lugar de entrega
          .step.actived
            .step-icon
              i.fas.fa-money-check-alt
            .step-content
              .step-title Pago
              .step-description Pago por Wompi

  .container.session(data-map="false")
    h1 Hacer pago
    .row
      .col-md-6
        .white.br-1.rd-0-2.p-1.mh-2
          .bigx2
            i.fas.fa-shopping-basket
          h2 Tu orden fue confirmada
          .remark.primary.mh-3
            | Número de pedidos #{' '}
            a(href='/usuario/pedidos')
              b.number-order
          a.btn.btn--action(href='/usuario/pedidos') Lista de Pedidos

      .col-md-6
        .white.br-1.rd-0-2.p-1.mh-2-md.mh-2-lg.mh-2-xl
          .t-primary.title
            | Compra
          ul.list-ul.mt-2
            li Una vez que se ha enviado su producto, generalmente demora de 2 a 5 días hábiles en ciudades principales.
            li Puede pedir devolver su pago hasta 14 días después de la compra y que su producto no haya llegado o no sea lo que ha pedido.

        .white.br-1.rd-0-2.p-1.mh-2
          .t-primary.title
            | Pago y Seguridad
          .t-secondary.subtitle.mt-2
            | Métodos de Pago
          .flex.mt-2
            .tc.mr-4
              img.h-48p(src=appCnf.url.static+'images/pagos/ico_tarjetas.svg' alt='pago tarjetas de crédito')
              .b.small Todas las tarjetas
            .tc.mr-4
              img.h-48p(src=appCnf.url.static+'images/pagos/ico_nequi.svg' alt='pago nequi')
            .tc
              img.h-48p(src=appCnf.url.static+'images/pagos/ico_pse.svg' alt='pago pse')
              .b.small Cuentas de ahorro

    .row
      .col-md-12
        .order-detail
          each order in orders
            .mt-2
              .row
                .col-md-8
                  h2 Pedido ##{order.orderID} de: #{order.store.name}
                .col-md-4
                  if order.status === 'created' && order.payment.pse
                    button.btn.btn--primary.small.w-100.payment(
                      id='id_'+order.orderID 
                      data-order=order._id) Pagar #{formatMoney(order.order.total)}
                  if order.status === 'picking' && !order.payment.pse
                    button.btn.btn--info.small.w-100 Pago contra entrega
              table.hide-xs.small.table.table--lines
                thead
                  tr
                    th.tc(colspan='2') PRODUCTO
                    th.tr PRECIO
                    th.tr CANTIDAD
                    th.tr SUBTOTAL
                tbody
                  each product in order.products
                    tr
                      td
                        +img(product.name, _.first(product.imagesSizes), ['48x48_jpg', '96x96_jpg'], 'h-48p')
                      td
                        .b #{product.name}
                      td.tr #{formatMoney(product.price)}
                      td.tr #{product.quantity}
                      td.tr.t-secondary.b #{formatMoney(product.price*product.quantity)}
                  
                tfoot
                  tr
                    td.b(colspan='4') Subtotal
                    td.tr.t-secondary #{formatMoney(order.order.subtotal)}
                  tr
                    td.b(colspan='4') Envío
                    td.tr.t-secondary #{formatMoney(order.order.shipping)}
                  tr
                    td.b(colspan='4') Total
                    td.tr.big.t-secondary.b #{formatMoney(order.order.total)}
              .show-xs
                each product in order.products
                  table.small.table.table--striped
                    tbody
                      tr
                        th.w-img-48
                          +img(product.name, _.first(product.imagesSizes), ['48x48_jpg', '96x96_jpg'], 'h-48p')
                        td.b.big #{product.name}
                      tr
                        th.b PRECIO
                        td.t-secondary #{formatMoney(product.price)}
                      tr
                        th.b CANTIDAD
                        td.big #{product.quantity}
                      tr
                        th.b SUBTOTAL
                        td.b.big.t-secondary #{formatMoney(product.price*product.quantity)}
                table.small.table.table--striped
                  tbody
                    tr
                      td.b Subtotal
                      td.tr.t-secondary #{formatMoney(order.order.subtotal)}
                    tr
                      td.b Envío
                      td.tr.t-secondary #{formatMoney(order.order.shipping)}
                    tr
                      td.b Total
                      td.tr.big.t-secondary.b #{formatMoney(order.order.total)}


