extends /modules/admin/views/layout-edit-cmp

block edit
  form.validate-rest(
    id="updateProfileForm"
    action=`${appCnf.url.api}admin/super/faq`
    method="post"
    data-page=`/administracion/super/faq`
    data-error="#form-results")
    .white.br-1.rd-0-2.p-3
      .msg.error#form-results
      .row
        .col-xs-12
          .form-group
            .form-control
              label
                input.checkbox#active(type="checkbox" name="active" value='1')
                span Activa
          .form-group
            .form-control
              select.input#categoryID.department(name='categoryID' required)
                option(value='') --
                each category in categories
                  option(value=category._id) #{category.name}
              label.nowrap(for='categoryID') Categoría
          .form-group
            .form-control
              input.input#question(type="text" name="question" placeholder=' ' required)
              label(for='question') Pregunta no olvide los signos... ¿?
          .form-group.ph-1
            .subtitle.mb-0-5 Respuesta
            .form-control
              textarea.cke#answer(name="answer" placeholder=' ')
      .row
        .col-xs-12.tr
          button.btn.btn--primary.w-100-xs.mt-2-xs(type="submit") Nueva Pregunta
