.container-fluid.white-500.ph-1
  .container
    .row
      .col-md-7
        b #{store.name}
        p !{store.vision}
      .col-md-5
        if store.contacts
          b Medios de Contacto
          each contact in store.contacts
            if contact.value
              if contact.slug == 'facebook'
                .flex
                  .icon.big
                    i.fab.fa-facebook-square
                  .b.ellipsis.ml-2
                    a(href=contact.value title='Facebook' target='_blank') Facebook
              else if contact.slug == 'twitter'
                .flex
                  .icon.big
                    i.fab.fa-twitter-square
                  .b.ellipsis.ml-2
                    a(href=contact.value title='Twitter' target='_blank') Twitter
              else if contact.slug == 'whatsapp'
                .flex
                  .icon.big
                    i.fab.fa-whatsapp-square
                  .b.ellipsis.ml-2
                    a(href=`https://wa.me/${contact.value}?text=Hola, ${store.name} quisiera saber más de tus productos.` title='Whatsapp' target='_blank') Whatsapp
              else if contact.slug == 'web'
                .flex
                  .icon.big
                    i.fas.fa-link
                  .b.ellipsis.ml-2
                    a(href=contact.value title='Página web' target='_blank') Página Web