footer.mt-8
  .container-fluid(class=_.get(req,'site.style.footer')||'primary')
    .container
      .row
        .col-md-12
          .mh-3 !{getFragment(req, 'footer-newsletter')}
      .row.pb-4
        .col-md-4
          | !{getFragment(req, 'footer-logo')}
        .col-md-8
          .row
            .col-md-4.vertical-align-center.mb-3-xs.mb-3-sm.mb-3-md
              | !{getFragment(req, 'footer-l-1-c-1')}
            .col-md-4.vertical-align-center
              | !{getFragment(req, 'footer-l-1-c-2')}
            .col-md-4.vertical-align-center
              | !{getFragment(req, 'footer-l-1-c-3')}
  .container-fluid(class=(_.get(req,'site.style.footer')||'primary')+'-500')
    .container.tc.ph-1
      .row
        .col-md-12.m-1-xs.m-1-sm.m-1-md.b.big
          | Santrato | Copyrigth 2020

  if !store && _.find(_.get(req, 'site.contacts'), {slug: 'whatsapp'})
    .m-1.fixed.bottom
      a(href=`https://wa.me/${_.find(_.get(req, 'site.contacts'), {slug: 'whatsapp'}).value}?text=Hola, tengo una pregunta sobre ${_.get(req, 'site.name')}` title='Whatsapp' target='_blank')
        .t-action-300.bigx2
          i.fab.fa-whatsapp.social

  else if store
    .m-1.fixed.bottom
      .t-action-300.bigx2.hand#open-modal-whatsapp
        i.fab.fa-whatsapp.social
    #modal-whatsapp.modal.start-hide(tabindex='-1' role='dialog')
      .modal-dialog(role='document')
          .modal-content
            .modal-header
              .b Contactar con?
              button.close.close-modal.btn-flat(type='button' data-dismiss='modal' aria-label='Cerrar')
                span(aria-hidden='true') &times;
            .modal-body
              each contact in store.contacts
                if contact.value
                  if contact.slug == 'whatsapp'
                    a(href=`https://wa.me/${contact.value}?text=Hola, ${store.name} quisiera saber más de tus productos.` title='Whatsapp' target='_blank')
                      .flex
                        .t-action-300.big
                          i.fab.fa-whatsapp.social
                        .title.b.ml-1 #{store.name}?
              if _.find(_.get(req, 'site.contacts'), {slug: 'whatsapp'})
                a.mt-1(href=`https://wa.me/${_.find(_.get(req, 'site.contacts'), {slug: 'whatsapp'}).value}?text=Hola, tengo una pregunta sobre ${_.get(req, 'site.name')}` title='Whatsapp' target='_blank')
                  .flex
                    .t-action-300.big
                      i.fab.fa-whatsapp.social
                    .title.b.ml-1 #{_.get(req, 'site.name')}?

            .modal-footer.tr
              button.close-modal.btn.btn--white(type='button') Cerrar