footer.mt-8
  .container-fluid(class=_.get(req,'site.style.footer')||'primary')
    .container
      //- .row
      //-   .col-md-12
      //-     .mh-3 !{getFragment(req, 'footer-newsletter')}
      .row.pb-4
        .col-md-4
          | !{getFragment(req, 'footer-logo')}
          .flex.justify-content-center.w-100

            each contact in _.get(req, 'site.contacts')
              if contact.value
                if contact.slug == 'facebook'
                  .mt-2.tc.pw-1
                    a.t-white(href=contact.value title='Facebook' target='_blank' rel="nofollow")
                      i.fab.fa-facebook-square.bigx2
                    .mt-0-5 Facebook
                else if contact.slug == 'twitter'
                  .mt-2.tc.pw-1
                    a.t-white(href=contact.value title='Twitter' target='_blank' rel="nofollow")
                      i.fab.fa-twitter-square.bigx2
                    .mt-0-5 Twitter
                else if contact.slug == 'instagram'
                  .mt-2.tc.pw-1
                    a.t-white(href=contact.value title='Instagram' target='_blank' rel="nofollow")
                      i.fab.fa-instagram-square.bigx2
                    .mt-0-5 Instagram
                else if contact.slug == 'youtube'
                  .mt-2.tc.pw-1
                    a.t-white(href=contact.value title='Youtube' target='_blank' rel="nofollow")
                      i.fab.fa-youtube-square.bigx2
                    .mt-0-5 Youtube

        .col-md-8
          .row.justify-content-center
            .col-md-6.mb-3-xs.mb-3-sm.mb-3-md
              .mt-2
                if req.user
                  div
                    a.t-white(href='/usuario') Mi cuenta
                  div
                    a.t-white(href='/usuario/historial') Historial
                  //- div
                  //-   a.t-white(href='/usuario/favoritos') Favoritos

                | !{getFragment(req, 'footer-l-1-c-1')}
            .col-md-4
              .mt-2
                if req.user
                  div
                    a.t-white(href='/usuario/pedidos') Mis compras

                | !{getFragment(req, 'footer-l-1-c-2')}
  .container-fluid(class=(_.get(req,'site.style.footer')||'primary')+'-500')
    .container.tc.ph-1
      .row
        .col-md-12.m-1-xs.m-1-sm.m-1-md.b
          | Santrato | Copyright 2021
