header
  .hide-xs
    nav.navbar.sh.fixed.top(class=
      (_.get(req,'site.style.header')||'primary')
      + ' '
      + (_.get(req,'site.style.headerFontClass')||'') )
      .container-fluid
        a.logo(href='/')
          img(src=_.get(req, 'site.images.logoTop.svg') alt=`${_.get(req, 'site.name')} logo`)
        .relative
          a.dropdown(aria-controls='menu-categories')
            span
              i.fas.fa-list-ul.fa-fw
              | #{' '}
              | Categorías
            span.icon.ml-0-25
              i.fas.fa-chevron-down.fa-fw
          #menu-categories.dropdown-list.sh
            ul(role='menu')
              each category in req.categories
                li(role='menuitem')
                  a.item(href='/categorias/'+category.slugLong)
                    | #{category.name}
        | !{getFragment(req, 'menu')}

        .expand
          form.flex(class="search" action=`${appCnf.url.site}buscar`)
            .flex.w-100.rdtl-50.rdbl-50.oh.white.h-55p
              label.out-screen(for='query-d') Buscar productos
              input#query-d.input--simple.h-100.w-100.ph-0-25.pl-0-5.title(type="text" name="q" placeholder='Buscar productos' required value=q)
            button.btn-flat.btn--white.rdtr-50.rdbr-50.h-55p
              .title.pl-0-5.pr-1
                i.fas.fa-search
                span.out-screen #{__('Bucar productos')}

        if !req.user
          ul.menu
            li
              a.btn.btn--secondary(href='/registro') Registro
            li
              a(href='/iniciar-sesion') Iniciar Sesión
        else
          .relative
            a.dropdown.flex(aria-controls='menu-login')
              span
                .tc.social.mb-0-25
                  i.fas.fa-user-circle.fa-fw
                .very-small Mi Cuenta
              span.icon.ml-0-25
                i.fas.fa-chevron-down.fa-fw
            #menu-login.dropdown-list.right.sh
              ul(role='menu')
                if req.user && (req.user.admin || req.user.adminStore)
                  li(role='menuitem')
                    a.item(href='/administracion/tiendas')
                      i.fas.fa-store
                      | #{' '}Administar Tiendas
                  li.hr
                li(role='menuitem')
                  a.item(href='/usuario')
                    i.far.fa-address-card
                    | #{' '}Ver Cuenta
                li(role='menuitem')
                  a.item(href='/usuario/pedidos')
                    i.fas.fa-shopping-bag
                    | #{' '}Pedidos
                li.hr
                li(role='menuitem')
                  a.item(href='/cerrar-sesion')
                    i.fas.fa-sign-out-alt
                    | #{' '}Cerrar Sesión
        ul.menu
          li.w-4
            a.link-shopping-cart.relative.w-4.justify-content-center(href='/carrito')
              span
                .tc.social
                  i.fas.fa-shopping-cart.mb-0-25
                .very-small Mi Carrito
              span.badge.inside.num-shopping-cart.m-1.secondary.start-hide
              span.out-screen Mi Carrito
    //- if store && !notMenu
    //-   nav.navbar.white.sh.mt-4
    //-     .container
    //-       a(href='/'+store.slug)
    //-         if _.get(store, 'imageSizes.logo')
    //-           img.h-3(src=_.get(store, 'imageSizes.logo.96x96_jpg') alt=store.name)
    //-       ul
    //-         li.flex
    //-           a.nav-link.brand-logo(href='/'+store.slug)
    //-             div.not-wrap.b #{store.name}
    //-       .expand
    //-       .relative
    //-         a.dropdown(aria-controls='menu-categories')
    //-           span
    //-             i.fas.fa-list
    //-             | #{' '}
    //-             span Categorías
    //-           span.icon.ml-1
    //-             i.fas.fa-angle-down
    //-         #menu-categories.dropdown-list.right.sh
    //-           ul.list-categories(role='menu')
    //-             each category in categories
    //-               li(role='menuitem')
    //-                 a.item(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}
    if account
      nav.navbar.white.sh.mt-4
        .container
          ul
            li.flex
              a.nav-link.brand-logo(href='/usuario')
                div.not-wrap.b #{req.user.personalInfo.name}
          .expand
          .relative
            a.dropdown(aria-controls='menu-categories')
              span
                i.fas.fa-user-cog
                | #{' '}
                span Cuenta
              span.icon.ml-1
                i.fas.fa-angle-down
            #menu-categories.dropdown-list.right.sh
              ul(role='menu')
                li(role='menuitem')
                  a.item(href='/usuario') Ver mis datos
                li(role='menuitem')
                  a.item(href='/usuario/correo') Cambiar correo electrónico
                li(role='menuitem')
                  a.item(href='/usuario/contrasena') Cambiar mi contraseña
                if !req.user.admin && !req.user.adminStore
                  li.hr
                  li(role='menuitem')
                    a.item(href='/usuario/vendedor') Volverme vendedor

  .show-xs
    nav.navbar.sh.fixed.top(class=_.get(req,'site.style.header')||'primary')
      ul.menu.w-100
        li
          a.logo.justify-content-center(href='/')
            img(src=_.get(req, 'site.images.logoTop.svg') alt=`${_.get(req, 'site.name')} logo`)
        li.expand.pr-1
          form.flex(class="search" action=`${appCnf.url.site}buscar`)
            .flex.w-100.rdtl-50.rdbl-50.oh.white.h-32p
              label.out-screen(for='query-m') Buscar productos
              input#query-m.input--simple.h-100.w-100.ph-0-25.pl-0-5.title(type="text" name="q" placeholder='Buscar productos' required value=q)
            button.btn-flat.btn--white.rdtr-50.rdbr-50.h-32p
              .title.pl-0-5.pr-1
                i.fas.fa-search
                span.out-screen #{__('Bucar productos')}
  .show-xs
    nav.navbar.sh.fixed.bottom(class=_.get(req,'site.style.header')||'primary')
      ul.justify-content-center.menu.w-100
        li.flex-grow
          a.justify-content-center(href='/')
            span
              .social
                i.fas.fa-home.mb-0-25
              .very-small Inicio
        li.flex-grow.tc
          a.sidenav-action.justify-content-center(href='#' data-target='#mobile-menu')
            span
              .tc.social
                i.fas.fa-user-circle.mb-0-25
              .very-small Mi Cuenta
        li.flex-grow.tc
          a.link-shopping-cart.relative.justify-content-center(href='/carrito')
            span
              .tc.social
                i.fas.fa-shopping-cart.mb-0-25
              .very-small Mi Carrito
            span.badge.inside.num-shopping-cart.m-1.secondary.start-hide

  nav#mobile-menu.sidenav
    .sidenav-body
      .white-500.w-100.flex.h-3
        .w-100.title.tc.b Inicio
      | !{getFragment(req, 'menu-mob')}
      if account
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Cuenta
        ul.list(role='menu')
          li(role='menuitem')
            a.item(href='/usuario') Ver mis datos
          li(role='menuitem')
            a.item(href='/usuario/correo') Cambiar correo electrónico
          li(role='menuitem')
            a.item(href='/usuario/contrasena') Cambiar mi contraseña
          if !req.user.admin && !req.user.adminStore
            li.hr
            li(role='menuitem')
              a.item(href='/usuario/vendedor') Volverme vendedor
      if !req.user
        ul.list(role='menu')
          li(role='menuitem')
            a(href='/iniciar-sesion') Iniciar Sesión
          li(role='menuitem')
            a(href='/registro') Registro
      else
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Usuario
        ul.list(role='menu')
          if req.user && (req.user.admin || req.user.adminStore)
            li(role='menuitem')
              a.item(href='/administracion/tiendas')
                i.fas.fa-store
                | #{' '}Administar Tiendas
            li.hr
          li(role='menuitem')
            a.item(href='/usuario')
              i.far.fa-address-card
              | #{' '}Ver Cuenta
          li(role='menuitem')
            a.item(href='/usuario/pedidos')
              i.fas.fa-shopping-bag
              | #{' '}Pedidos
          li.hr
          li(role='menuitem')
            a.item(href='/cerrar-sesion')
              i.fas.fa-sign-out-alt
              | #{' '}Cerrar Sesión

      if store
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Categorías
        ul.list(role='menu')
          each category in req.categories
            li(role='menuitem')
              a.item(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}

