header
  .hide-xs
    nav.navbar.primary.shadow.fixed.top
      .container
        a.logo(href='/')
          img(src=_.get(global.appCnf, 'site.images.logoTop.svg') alt=`${_.get(appCnf, 'site.name')} logo`)

        .expand
          if store
            form.flex(class="search" action=`${appCnf.url.site}${store.slug}/buscar`)
              label.out-screen(for='query-d') Buscar
              input#query-d.input--simple.w-100.rdtl-50.rdbl-50.ph-0-25.pw-1(type="text" name="q" placeholder='Buscar' required value=q)
              button.btn.btn--secondary
                i.fas.fa-search
                span.out-screen #{__('Bucar productos')}
        ul.flex.menu
          li
            a(href='/paginas/precios') Precios
          li
            a(href='/ayuda') Ayuda
          li
            a(href='/usuario/vendedor') Vender
        if !session
          ul.flex.menu
            li
              a.btn.btn--secondary(href='/registro') Registro
            li
              a(href='/iniciar-sesion') Iniciar Sesión
        else
          .relative
            a.dropdown(aria-controls='menu-login')
              span
                i.fas.fa-user-circle.fa-fw
                | #{' '}
                span Hola, #{session.personalInfo.firstname}
                | #{' '}
              span.icon.ml-1
                i.fas.fa-arrow-down.fa-fw
            #menu-login.dropdown-list.right.shadow
              ul.list-categories(role='menu')
                if session && (session.admin || session.adminStore)
                  li(role='menuitem')
                    a.item(href='/administracion/tiendas')
                      i.fas.fa-store
                      | #{' '}Administar Tiendas
                  li.hr
                li(role='menuitem')
                  a.item(href='/usuario')
                    i.far.fa-address-card
                    | #{' '}Ver Cuenta
                li(role='menuitem')
                  a.item(href='/usuario/pedidos')
                    i.fas.fa-shopping-bag
                    | #{' '}Pedidos
                li.hr
                li(role='menuitem')
                  a.item(href='/cerrar-sesion')
                    i.fas.fa-sign-out-alt
                    | #{' '}Cerrar Sesión
        ul.flex.menu
          li.w-4
            a.link-shopping-cart.relative.w-4.justify-content-center(href='/carrito')
              i.fas.fa-shopping-cart
              span.badge.inside.num-shopping-cart.m-1.secondary.start-hide
              span.out-screen Ver carrito
    if store && !notMenu
      nav.navbar.white.shadow.mt-4
        .container
          a(href='/'+store.slug)
            if _.get(store, 'imageSizes.logo')
              img.h-3(src=_.get(store, 'imageSizes.logo.96x96_jpg') alt=store.name)
          ul
            li.flex
              a.nav-link.brand-logo(href='/'+store.slug)
                div.not-wrap.b #{store.name}
          .expand
          .relative
            a.dropdown(aria-controls='menu-categories')
              span
                i.fas.fa-list
                | #{' '}
                span Categorías
              span.icon.ml-1
                i.fas.fa-angle-down
            #menu-categories.dropdown-list.right.shadow
              ul.list-categories(role='menu')
                each category in categories
                  li(role='menuitem')
                    a.item(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}
    if account
      nav.navbar.white.shadow.mt-4
        .container
          ul
            li.flex
              a.nav-link.brand-logo(href='/usuario')
                div.not-wrap.b #{session.personalInfo.name}
          .expand
          .relative
            a.dropdown(aria-controls='menu-categories')
              span
                i.fas.fa-user-cog
                | #{' '}
                span Cuenta
              span.icon.ml-1
                i.fas.fa-angle-down
            #menu-categories.dropdown-list.right.shadow
              ul(role='menu')
                li(role='menuitem')
                  a.item(href='/usuario') Ver mis datos
                li(role='menuitem')
                  a.item(href='/usuario/correo') Cambiar correo electrónico
                li(role='menuitem')
                  a.item(href='/usuario/contrasena') Cambiar mi contraseña
                if !session.admin && !session.adminStore
                  li.hr
                  li(role='menuitem')
                    a.item(href='/usuario/vendedor') Volverme vendedor

  .show-xs
    nav.navbar.primary.shadow.fixed.top
      ul.flex.menu.w-100
        li
          a.sidenav-action.w-4.justify-content-center(href='#' data-target='#mobile-menu')
            i.fas.fa-bars
            span.out-screen Menú
        li.expand
          a.logo.justify-content-center(href='/')
            img(src=_.get(global.appCnf, 'site.images.logoTop.svg') alt=`${_.get(appCnf, 'site.name')} logo`)
        li
          a.link-shopping-cart.relative.w-4.justify-content-center(href='/carrito')
            i.fas.fa-shopping-cart
            span.badge.inside.num-shopping-cart.m-1.secondary
            span.out-screen Ver carrito

  nav#mobile-menu.sidenav
    .sidenav-body
      .white-500.w-100.flex.h-3
        .w-100.title.tc.b Inicio
      ul.list(role='menu')
        li(role='menuitem')
          a(href='/paginas/precios') Precios
        li(role='menuitem')
          a(href='/ayuda') Ayuda
        li(role='menuitem')
          a(href='/usuario/vendedor') Vender
      if account
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Cuenta
        ul.list(role='menu')
          li(role='menuitem')
            a.item(href='/usuario') Ver mis datos
          li(role='menuitem')
            a.item(href='/usuario/correo') Cambiar correo electrónico
          li(role='menuitem')
            a.item(href='/usuario/contrasena') Cambiar mi contraseña
          if !session.admin && !session.adminStore
            li.hr
            li(role='menuitem')
              a.item(href='/usuario/vendedor') Volverme vendedor
      if !session
        ul.list(role='menu')
          li(role='menuitem')
            a(href='/iniciar-sesion') Iniciar Sesión
          li(role='menuitem')
            a(href='/registro') Registro
      else
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Usuario
        ul.list(role='menu')
          if session && (session.admin || session.adminStore)
            li(role='menuitem')
              a.item(href='/administracion/tiendas')
                i.fas.fa-store
                | #{' '}Administar Tiendas
            li.hr
          li(role='menuitem')
            a.item(href='/usuario')
              i.far.fa-address-card
              | #{' '}Ver Cuenta
          li(role='menuitem')
            a.item(href='/usuario/pedidos')
              i.fas.fa-shopping-bag
              | #{' '}Pedidos
          li.hr
          li(role='menuitem')
            a.item(href='/cerrar-sesion')
              i.fas.fa-sign-out-alt
              | #{' '}Cerrar Sesión

      if store
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Categorías
        ul.list(role='menu')
          each category in categories
            li(role='menuitem')
              a.item(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}
