header.relative.z100
  .hide-xs
    nav.navbar.navbar-5.relative.sh.z1(class=
      (_.get(req,'site.style.header')||'primary')
      + ' '
      + (_.get(req,'site.style.headerFontClass')||'') )
      .container-fluid
        a.logo(href='/')
          img(src=_.get(req, 'site.images.logoTop.svg') alt=`${_.get(req, 'site.name')} logo`)
        .relative
          a.dropdown(aria-controls='menu-categories')
            span
              i.fas.fa-list-ul.fa-fw
              | #{' '}
              | Categorías
            span.icon.ml-0-25
              i.fas.fa-chevron-down.fa-fw
          #menu-categories.dropdown-list.sh
            ul(role='menu')
              each category in req.categories
                li(role='menuitem')
                  a.item(href='/categorias/'+category.slugLong)
                    | #{category.name}
        a(href='/grupos/ofertas')
          | Ofertas
        a.data-address.flex
          .pr-0-25
            i.fas.fa-map-marker-alt.big
          .small
            b.small.t-gray-500.name Enviar a Colombia
            .mt-0-25.address

        .expand.pw-1
          form.flex(class="search" action=`${req.site.url}buscar`)
            .flex.w-100.rdtl-50.rdbl-50.oh.white.h-40p
              label.out-screen(for='query-d') Buscar productos
              input#query-d.input--simple.h-100.w-100.ph-0-25.pl-2(type="text" name="q" placeholder='Buscar productos' required value=q)
            button.btn-flat.btn--white.rdtr-50.rdbr-50.h-40p
              .title.pl-0-5.pr-1
                i.fas.fa-search
                span.out-screen #{__('Bucar productos')}

        if !req.user
          ul.menu.ml-1
            li
              a.btn.btn--secondary.mr-1(href='/registro') Registro
            li
              a(href='/iniciar-sesion') Iniciar Sesión
        else
          .relative
            a.dropdown.flex(aria-controls='menu-login')
              span
                .tc.social.mb-0-25
                  i.fas.fa-user-circle.fa-fw
                .very-small Mi Cuenta
              span.icon.ml-0-25
                i.fas.fa-chevron-down.fa-fw
            #menu-login.dropdown-list.right.sh
              ul(role='menu')
                if req.user && req.user.admin
                  li(role='menuitem')
                    a.item(href='/administracion/super/configuracion')
                      i.fas.fa-store
                      | #{' '}Configuración General
                  li.hr
                if req.user && (req.user.admin || req.user.adminStore)
                  li(role='menuitem')
                    a.item(href='/administracion/tiendas')
                      i.fas.fa-store
                      | #{' '}Mi tienda
                  li.hr
                li(role='menuitem')
                  a.item(href='/usuario')
                    i.far.fa-address-card
                    | #{' '}Mi cuenta
                li(role='menuitem')
                  a.item(href='/usuario/pedidos')
                    i.fas.fa-shopping-bag
                    | #{' '}Mis pedidos
                li.hr
                li(role='menuitem')
                  a.item(href='/cerrar-sesion')
                    i.fas.fa-sign-out-alt
                    | #{' '}Cerrar Sesión
        ul.menu
          li.w-4
            a.link-shopping-cart.relative.w-4.justify-content-center(href='/carrito')
              span
                .tc.social
                  i.fas.fa-shopping-cart.mb-0-25
                .very-small Mi Carrito
              span.badge.inside.num-shopping-cart.m-1.secondary.start-hide
              span.out-screen Mi Carrito
    nav.navbar.navbar-2-5.white.pw-1.small.sh
      .expand
      ul.menu.ml-1
        //- li.relative
        //-   a.ph-0-5.dropdown(aria-controls='menu-categories')
        //-     span
        //-       i.fas.fa-list-ul.fa-fw
        //-       | #{' '}
        //-       | Categorías
        //-     span.icon.ml-0-25
        //-       i.fas.fa-chevron-down.fa-fw
        //-   #menu-categories.dropdown-list.sh
        //-     ul(role='menu')
        //-       each category in req.categories
        //-         li(role='menuitem')
        //-           a.item(href='/categorias/'+category.slugLong)
        //-             | #{category.name}
        //- li
        //-   a.pw-0-5(href='/grupos/ofertas') Ofertas
        if req.user
          li
            a.pw-0-5(href='/usuario/historial') Historial
        li
          a.pw-0-5(href='/paginas/ayuda-y-atencion-al-cliente') Servicio al cliente
        li
          if req.user && req.user.adminStore
            a.pw-0-5(href='/administracion') Administrar tu tienda
          else
            a.pw-0-5(href='/paginas/vender') Crea tu tienda

    if store && _.get(req, 'site.modules.categories') && !notMenu
      nav.navbar.white.sh.mt-4
        .container
          a(href='/'+store.slug)
            if _.get(store, 'imageSizes.logo')
              img.h-3(src=_.get(store, 'imageSizes.logo.96x96_jpg') alt=store.name)
          ul
            li.flex
              a.nav-link.brand-logo(href='/'+store.slug)
                div.not-wrap.b #{store.name}
          .expand
          .relative
            a.dropdown(aria-controls='menu-categories')
              span
                i.fas.fa-list
                | #{' '}
                span Categorías
              span.icon.ml-1
                i.fas.fa-angle-down
            #menu-categories.dropdown-list.right.sh
              ul.list-categories(role='menu')
                each category in categories
                  li(role='menuitem')
                    a.item(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}

  .show-xs
    nav.navbar.navbar-4.sh.fixed.top(class=_.get(req,'site.style.header')||'primary')
      ul.menu.w-100
        li
          a.logo.justify-content-center.pr-0(href='/')
            img(src=_.get(req, 'site.images.logoTop.svg') alt=`${_.get(req, 'site.name')} logo`)
        li.expand.pw-0-5
          form.flex(class="search" action=`${req.site.url}buscar`)
            .flex.w-100.rdtl-50.rdbl-50.oh.white.h-32p
              label.out-screen(for='query-m') Buscar productos
              input#query-m.input--simple.h-100.w-100.ph-0-25.pl-1(type="text" name="q" placeholder='Buscar productos' required value=q)
            button.btn-flat.btn--white.rdtr-50.rdbr-50.h-32p
              .title.pl-0-5.pr-1
                i.fas.fa-search
                span.out-screen #{__('Bucar productos')}
  .show-xs
    nav.navbar.navbar-4.sh.fixed.bottom(class=_.get(req,'site.style.header')||'primary')
      ul.justify-content-center.menu.w-100
        li.flex-grow
          a.sidenav-action.justify-content-center(href='#' data-target='#mobile-menu')
            span
              .social
                i.fas.fa-bars.mb-0-25
              .very-small Menú
        li.flex-grow
          a.justify-content-center(href='/')
            span
              .social
                i.fas.fa-home.mb-0-25
              .very-small Inicio
        if req.user
          li.flex-grow.tc
            a.justify-content-center(href='/usuario')
              span
                .tc.social
                  i.fas.fa-user-circle.mb-0-25
                .very-small Mi Cuenta
        li.flex-grow.tc
          a.link-shopping-cart.relative.justify-content-center(href='/carrito')
            span
              .tc.social
                i.fas.fa-shopping-cart.mb-0-25
              .very-small Mi Carrito
            span.badge.inside.num-shopping-cart.m-1.secondary.start-hide

  nav#mobile-menu.sidenav
    .sidenav-body
      .white-500.w-100.flex.h-3
        .w-100.title.tc.b Inicio
      | !{getFragment(req, 'menu-mob')}
      if account
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Cuenta
        ul.list(role='menu')
          li(role='menuitem')
            a.item.pl-1(href='/usuario') Ver mis datos
          li(role='menuitem')
            a.item.pl-1(href='/usuario/correo') Cambiar correo electrónico
          li(role='menuitem')
            a.item.pl-1(href='/usuario/contrasena') Cambiar mi contraseña
      if !req.user
        ul.list(role='menu')
          li(role='menuitem')
            a.pl-1(href='/iniciar-sesion') Iniciar Sesión
          li(role='menuitem')
            a.pl-1(href='/registro') Registro
      else
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Usuario

        ul.list(role='menu')
          if req.user && req.user.admin
            li(role='menuitem')
              a.item.pl-1(href='/administracion/super/configuracion')
                i.fas.fa-user-cog
                | #{' '}Configuración General
            li.hr
          if req.user && (req.user.admin || req.user.adminStore)
            li(role='menuitem')
              a.item.pl-1(href='/administracion/tiendas')
                i.fas.fa-store
                | #{' '}Mi tienda
            li.hr
          li(role='menuitem')
            a.item.pl-1(href='/usuario')
              i.far.fa-address-card
              | #{' '}Mi cuenta
          li(role='menuitem')
            a.item.pl-1(href='/usuario/pedidos')
              i.fas.fa-shopping-bag
              | #{' '}Mis pedidos
          li.hr
          li(role='menuitem')
            a.item.pl-1(href='/cerrar-sesion')
              i.fas.fa-sign-out-alt
              | #{' '}Cerrar Sesión

      if store && _.get(req, 'site.modules.categories')
        .white-500.w-100.flex.h-3
          .w-100.title.tc.b Categorías
        .ml-1
          ul.list(role='menu')
            each category in req.categories
              li(role='menuitem')
                a.item.pl-1(href='/'+store.slug+'/categorias/'+category.slugLong) #{category.name}

