.container
  .row
    .col-md-12
      h2.b.t-primary.tc.mt-2 ¿Por qué debes unirte a los empresarios que ya venden a través de tiendas p4s?
      .hr.mt-1.mb-2
  .row.justify-content-center
    .col-md-8
      .row
        .col-md-5.mb-3
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_menor-costo-800x486.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_menor-costo-800x486.jpg' alt='Reducción costos')
        .col-md-7.mb-3
          h3.b.t-primary PUEDES REDUCIR TUS GASTOS O INCLUSO ELIMINARLOS
          p
            | Siendo parte de tiendas p4s podrías pensar en olvidarte de la renta de un local y de sus costos administrativos.

        .col-md-5.mb-3.show-xs.show-sm
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_mas-clientes-800x486.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_mas-clientes-800x486.jpg' alt='Más clientes')
        .col-md-7.mb-3
          h3.b.t-primary PUEDES CONSEGUIR MÁS CLIENTES
          p
            | 1 de cada 3 usuarios de internet visita una tienda en línea con intención de realizar una compra. Tus productos pueden ser una de ellas.

        .col-md-5.mb-3.hide-xs.hide-sm
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_mas-clientes-800x486.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_mas-clientes-800x486.jpg' alt='Más clientes')
        .col-md-5.mb-3
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_24-7d800x483.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_24-7d800x483.jpg' alt='Mayor margen de beneficio')
        .col-md-7.mb-3
          h3.b.t-primary NO TIENES HORARIOS DE ATENCIÓN
          p
            | Tus productos estarán disponibles 24/7 para todos los visitantes de tiendas p4s.
        .col-md-5.mb-3.show-xs.show-sm
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_mayor-margen-de-ganancia800x483.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_mayor-margen-de-ganancia800x483.jpg' alt='Sin horarios')
        .col-md-7.mb-3
          h3.b.t-primary PUEDES PUBLICAR TODO TU INVENTARIO
          p
            | ¡Tus productos siempre estarán disponibles! Con nuestras instrucciones y recomendaciones, podrás publicar y detallar cada producto y hacerlos más atractivos para tus clientes. Nosotros nos encargamos de la publicación y de informarte sobre tus ventas.
        .col-md-5.mb-3.hide-xs.hide-sm
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_mayor-margen-de-ganancia800x483.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_mayor-margen-de-ganancia800x483.jpg' alt='Sin horarios')
        .col-md-5.mb-3
          img.lazy.responsive(data-src=config.url.static+'tenancy/'+config.tenancy+'/images/home/343_escalabilidad800x483.jpg' data-retina=config.url.static+'tenancy/'+config.tenancy+'/images/home/686_escalabilidad800x483.jpg' alt='Escalabilidad')
        .col-md-7.mb-3
          h3.b.t-primary NO TIENES LÍMITES
          p
            | Lleva tu marca a clientes de todo el país o incluso a nivel internacional. Con nosotros podrás atender a uno o mil interesados.
