
meta(name='robots' content='index, follow')
meta(name='author' content='p4s')
meta(name='description' content=description || config.site.description)
meta(name='keywords' content='compra online, mercado, tienda, domicilios, p4s, quedate en casa')
meta(name='language' content='ES')

link(href=config.url.static+'images/compartir.jpg' rel='image_src')
link(href=`${config.url.site}${originalUrl}` rel='canonical')

meta(name='geo.placename' content='Colombia')
meta(name='geo.position' content='4.667311,-74.0587037')
meta(name='geo.region' content='CO')
meta(name='ICBM' content='4.667311,-74.0587037')

meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@p4sco')
meta(name='twitter:creator' content='@p4sco')
meta(name='twitter:title' content=`${title} | ${config.site.name}`)
meta(name='twitter:description' content=description || config.site.description)
meta(name='twitter:image' content=config.url.static+'images/compartir.jpg')

meta(property='og:type' content='website')
meta(property='og:title' content=`${title} | ${config.site.name}`)
meta(property='og:description' content=description || config.site.description)
meta(property='og:url' content=`${config.url.site}${originalUrl}`)
meta(property='og:image' content=config.url.static+'images/compartir.jpg')
meta(property='og:site_name' content=`${title} | ${config.site.name}`)
meta(property='og:locale' content='es_CO')
meta(property='og:locale:alternate' content='es_CO')
