mixin imgSocial
    if product && product.imagesSizes && product.imagesSizes.length
      link(href=product.imagesSizes[0]['484x484_jpg'] rel='image_src')
      meta(name='twitter:image' content=product.imagesSizes[0]['484x484_jpg'])
      meta(property='og:image' content=product.imagesSizes[0]['484x484_jpg'])
    else if store && _.get(store, 'imageSizes.social')
      link(href=_.get(store, 'imageSizes.social.1028x540_jpg') rel='image_src')
      meta(name='twitter:image' content=_.get(store, 'imageSizes.social.1028x540_jpg'))
      meta(property='og:image' content=_.get(store, 'imageSizes.social.1028x540_jpg'))
    else if store && _.get(store, 'imageSizes.logo')
      link(href=_.get(store, 'imageSizes.logo.484x484_jpg') rel='image_src')
      meta(name='twitter:image' content=_.get(store, 'imageSizes.logo.484x484_jpg'))
      meta(property='og:image' content=_.get(store, 'imageSizes.logo.484x484_jpg'))
    else
      link(href=_.get(req, 'site.images.social.img') rel='image_src')
      meta(name='twitter:image' content=_.get(req, 'site.images.social.img'))
      meta(property='og:image' content=_.get(req, 'site.images.social.img'))


meta(name='robots' content='index, follow')
meta(name='author' content='Véndelo Mejor')
meta(name='description' content=_.get(item, 'seo') || _.get(store, 'seo') || _.get(req, 'site.description'))
meta(name='keywords' content='compra online, mercado, tienda, domicilios, p4s, quedate en casa, santrato')
meta(name='language' content='ES')
+imgSocial

link(href=`${appCnf.url.site}${originalUrl}` rel='canonical')

meta(name='geo.placename' content='Colombia')
meta(name='geo.position' content='4.667311,-74.0587037')
meta(name='geo.region' content='CO')
meta(name='ICBM' content='4.667311,-74.0587037')

meta(name='twitter:card' content='summary')
if _.find(_.get(req, 'site.contacts'), {slug: 'twtter'})
    meta(name='twitter:site' content=_.find(_.get(req, 'site.contacts'), {slug: 'twtter'}).value)
    meta(name='twitter:creator' content=_.find(_.get(req, 'site.contacts'), {slug: 'twtter'}).value)
meta(name='twitter:title' content=`${title} | ${_.get(req, 'site.name')}`)
meta(name='twitter:description' content=_.get(item, 'seo') || _.get(store, 'seo') || _.get(req, 'site.description'))

meta(property='og:type' content='website')
meta(property='og:title' content=`${title} | ${_.get(req, 'site.name')}`)
meta(property='og:description' content=_.get(item, 'seo') || _.get(store, 'seo') || _.get(req, 'site.description'))
meta(property='og:url' content=`${appCnf.url.site}${originalUrl}`)
meta(property='og:site_name' content=`${title} | ${_.get(req, 'site.name')}`)
meta(property='og:locale' content='es_CO')
meta(property='og:locale:alternate' content='es_CO')
