#address.modal.start-hide(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
    form#addressForm.col-xs-12.validate-rest(action=`${appCnf.url.api}services/geocoder` method="get" data-fnc-error="ca.errorAddress")
      .modal-content
        .modal-header
          .title.b Seleccionar dirección
          button.close.close-modal.btn-flat(type='button' data-dismiss='modal' aria-label='Cerrar')
            span(aria-hidden='true') &times;
        .modal-body
          .row
            .col-xs-12
              .form-group
                label(for='country') País
                .form-control
                  select.input#country(type="text" name="country" required)
                    option(value='colombia') Colombia

            .col-xs-12
              .form-group
                .form-control
                  input.input#city(type="text" name="city" placeholder=" " required)
                  label(for='city') Ciudad

            .col-xs-6
              .form-group
                .form-control
                  select.input#streetType(name="streetType" required)
                    option(value='calle') Calle
                    option(value='carrera') Carrera
                    option(value='autopista') Autopista
                    option(value='avenida') Avenida
                    option(value='avenida carrera') Avenida Carrera
                    option(value='avenida calle') Avenida Calle
                    option(value='circular') Circular
                    option(value='circunvalar') Circunvalar
                    option(value='diagonal') Diagonal
                    option(value='manzana') Manzana
                    option(value='transversal') Transversal
                    option(value='via') Vía
                  label(for='streetType') Dirección


            .col-xs-6
              .form-group
                .form-control
                  input.input#street(type="text" name="street" placeholder="20A Sur" required)
                  label(for='street')
                    span Nombre de Calle
            .col-xs-6
              .form-group
                .form-control
                  input.input#corner(type="text" name="corner" placeholder="#43" required)
                  label(for='corner')
                    span Número de Calle
            .col-xs-6
              .form-group
                .form-control
                  input.input#number(type="text" name="number" placeholder="50" required)
                  label(for='number')
                    span Número
            .col-xs-12
              .form-group
                .form-control
                  input.input#neighborhood(type="text" placeholder=" " name="neighborhood")
                  label(for='neighborhood') Barrio, Localidad
            .col-xs-12
              .form-group
                .form-control
                  input.input#extra(type="text" placeholder=" " name="extra")
                  label(for='extra') Casa, apt., torre
        .modal-footer.tr
          button.btn.btn--secondary.small.close-modal(type='button') Cancelar
          | #{' '}
          button.btn.btn--primary.small(type='submit') Buscar

    form#mapForm.col-xs-12.validate-rest.start-hide(action=`${appCnf.url.api}users/addresses` method="post" data-fnc-error="ca.errorAddress")
      .modal-content
        .modal-header
          .title.b Confirmar punto
          button.close.close-modal(type='button' data-dismiss='modal' aria-label='Cerrar')
            span(aria-hidden='true') &times;
        .modal-body
          .remark.alert.mb-2
            | Por favor confirme el punto de su dirección en el mapa
          input.input#addressJSON(type="hidden" name="addressJSON")
          #map-container.w-100.h-460p

        .modal-footer.tr
          button.btn.btn--secondary.small.back(type='button') Volver
          | #{' '}
          button.btn.btn--primary.small(type='submit') Confirmar

#change-cart.modal.start-hide(tabindex='-1' role='dialog')
  .modal-dialog(role='document')
      .modal-content
        .modal-header
          .b Cambios en tu carrito
          button.close.close-modal.btn-flat(type='button' data-dismiss='modal' aria-label='Cerrar')
            span(aria-hidden='true') &times;
        .modal-body
          .row.list-products-remove.start-hide
            .col-xs-12
              .title Productos retirados
              .list
          .row.list-products-new-prices.start-hide
            .col-xs-12
              .title Productos con nuevos precios
              .list


        .modal-footer.tr
          button.btn.btn--secondary.small(type='button' onclick="cart.undo()") Cancelar
          | #{' '}
          button.btn.btn--primary.small(type='button' onclick='cart.changePlaceAndResum()') Cambiar
