
link(rel='stylesheet', href=appCnf.url.cdn+'css/fonts.min.css?='+appCnf.v)

script(src=appCnf.url.cdn+'lib/script.js?='+appCnf.v)

if mapbox
  //- MapBox
  link(rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css')
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js')

if osm
  link(rel="stylesheet", href=appCnf.url.cdn+'lib/leaflet/leaflet.css')
  script(src=appCnf.url.cdn+'lib/leaflet/leaflet.js')
  link(rel='stylesheet', href=appCnf.url.cdn+'lib/leaflet/L.Control.Locate.min.css')
  script(src=appCnf.url.cdn+'lib/leaflet/L.Control.Locate.min.js')
  if osm=='draw'
    link(rel='stylesheet', href=appCnf.url.cdn+'lib/leaflet/leaflet-geoman.css')
    script(src=appCnf.url.cdn+'lib/leaflet/leaflet-geoman.min.js')

if wompi
  //- Pagos
  script(src='https://checkout.wompi.co/widget.js')



if js
  script(src=appCnf.url.cdn+'js/'+js+'.js?='+appCnf.v)
