doctype transitional
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width')
  title
div
  center(style='width:100%;table-layout:fixed;background-color:#e4e3e4')
    div(style='max-width:600px;margin:0 auto')
      table(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style="border-collapse:collapse;height:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100%;background-color:#e4e3e4;color:#5a5a5a;font-family:'Lato',Helvetica,Arial,sans-serif")
        tbody
          tr
            td(align='center' valign='top' style='height:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;width:100%;padding-top:10px;padding-bottom:10px;border-top-width:0')
              table(border='0' cellpadding='0' cellspacing='0' style='width:100%;max-width:600px;border-collapse:collapse')
                tbody
                  tr
                    td
                      table(bgcolor='#FFFFFF' border='0' cellpadding='2' cellspacing='0' width='100%' style='border-spacing:0;background-color:#ffffff')
                        tbody
                          tr(valign='top' bgcolor='#FFFFFF' style='border-top-width:0;border-bottom-width:0;font-size:14px;line-height:150%;text-align:left;background-color:#ffffff')
                            td
                              div(style='width:100%;display:inline-block;background-color:#ffffff')
                                table(align='left' bgcolor='#FFFFFF' cellpadding='0' cellspacing='0' border='0' width='100%')
                                  tbody
                                    tr
                                      td(align='center')
                                        a(href=site.urlSite target='_blank')
                                          img(src=`https://cdn.santrato.com/tenancy/${tenancy}/images/prod/site/logoEmail/logoEmail.jpg` height=100 width='auto' alt=site.name border='0' style='display:block;width:auto;height:100px')
                      table(bgcolor='#FFFFFF' width='100%' style='font-family:Ember,Arial,sans-serif;font-size:13px;border-top:3px solid #ffa500')
                        tbody
                          tr(style='border-top:1px #ddd solid' bgcolor='#FFFFFF' valign='top')
                            td(valign='top')
                              table(bgcolor='#FFFFFF' width='100%')
                                tbody
                                  tr
                                    td(valign='top')
                                      table(align='left' bgcolor='#FFFFFF' width='100%')
                                        tbody
                                          tr
                                            td(valign='top' align='left')
                                              block content

                                      table(bgcolor='#FFFFFF' border='0' cellpadding='4' cellspacing='0' width='100%' style='border-spacing:0;border-top:1px solid')
                                        tbody
                                          tr(valign='top' bgcolor='#FFFFFF' style='border-top:1px #ddd solid' align='center')
                                            td(valign='top')
                                            td(align='left')
                                              div(style='width:306px;display:inline-block')
                                                table(align='left' cellpadding='0' cellspacing='0' border='0' bgcolor='#ffffff')
                                                  tbody
                                                    tr
                                      div(style='text-align:center;background-color:white;border:0px solid #a0a0a5;padding:2px;color:black')
                                        p(style='text-align:left!important;margin-top:10px;margin-bottom:10px;margin-right:10px;margin-left:15px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;color:#5a5a5a;font-family:Ember,Arial,sans-serif;font-size:13px;line-height:150%;color:black')
                                          | Dudas y comentarios por favor escribir a
                                          | #{' '}
                                          a(href=`mailto:${site.info}`) #{site.info}

//- prevent Gmail on iOS font size manipulation
div(style='display:none;white-space:nowrap;font:15px courier;line-height:0') &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

