mixin multimedia(name, image, cssClass)
  if (image)
    img.lazy(data-src=image alt=name class=cssClass?cssClass:'w-100')
  else
    img.lazy(data-src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt=name class=cssClass?cssClass:'w-100')

mixin img(name, image, size = ['196x196_jpg', '392x392_jpg'], cssClass)
  if (image)
    img.lazy(data-src=image[size[0]] data-retina=image[size[1]] alt=name class=cssClass?cssClass:'w-100')
  else
    img(src=`${appCnf.url.cdn}images/imagen_no_disponible.svg` alt=name class=cssClass?cssClass:'w-100')

if item.urlSize
  +img(item.title, _.get(item, `urlSize.${item.files[0]}`), ['x196','x392'])
else if item.url
  +multimedia(item.title, _.get(item, `url.${item.files[0]}`))